{% extends 'layout/base.html' %}

{% block bodytag %}onload="initialize()" onunload="GUnload()"{% endblock %}

{% block content %}

    {% form form %}
        {% for f in form %}
            {% field f %}
            {% ifequal f.name "location" %}
	    <script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAEApdQKp-3MQwXa7vqy-0PRTvq4UVAZ__u8Yk6PO6W14KUZrPkhTsRXWFwLdK0NTwbJRLBLmzeuZGsA" type="text/javascript"></script> 
	    <script type="text/javascript"> 

		var map = null;
		var geocoder = null;

		function initialize() {
		  if (GBrowserIsCompatible()) {
                    canvas = document.getElementById("map_canvas");
		    map = new GMap2(canvas);
		    map.setCenter(new GLatLng(51.52487262675978, -0.1064300537109375), 15);
		    geocoder = new GClientGeocoder();
		    map.addControl(new GLargeMapControl3D());
		    var marker = new GMarker(new GLatLng(51.52487262675978, -0.1064300537109375), {draggable: true});
		    map.addOverlay(marker);
		    GEvent.addListener(marker, "dragend", function() {
		      point = marker.getPoint();
		      document.getElementById('id_latitude').value = point.lat();
		      document.getElementById('id_longitude').value = point.lng(); 
		    });
                    // store market as a property of something somewhere so we can access it during showAddress
                    canvas.marker = marker;
		  }
		}

		function showAddress(address) {
		  if (geocoder) {
		    geocoder.getLatLng(
		      address + ', london',
		      function(point) {
			if (!point) {
			  alert(address + " not found");
			} else {
			  document.getElementById('id_latitude').value = point.lat();
			  document.getElementById('id_longitude').value = point.lng();
			  map.setCenter(point, 15);
                          canvas = document.getElementById("map_canvas");
                          if (canvas.marker) {
			    canvas.marker.setLatLng(new GLatLng(point.lat(), point.lng()));
			  }
			}
		      }
		    );
		  }
		}
		</script>
		<p style="text-align: center; margin: 0 0 5px; text-align: center; width: 500px;"><input value="Find on map" onclick="return showAddress(document.getElementById('id_location').value)" type="button" /></p>
		<div id="map_canvas" style="width: 500px; height: 250px; margin-bottom: 5px;"></div> 

            {% endifequal %}
        {% endfor %}
    {% endform %}
    

{% endblock %}
