{% extends 'layout/base.html' %}

{% block bodytag %} onunload="GUnload()"{% endblock %}

{% block content %}

    {% form form %}
        {% for f in form %}
            {% field f %}
            {% ifequal f.name "location" %}
	    <script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAEApdQKp-3MQwXa7vqy-0PRTvq4UVAZ__u8Yk6PO6W14KUZrPkhTsRXWFwLdK0NTwbJRLBLmzeuZGsA" type="text/javascript"></script> 
            <script src="http://www.google.com/uds/api?file=uds.js&v=1.0&key=ABQIAAAAEApdQKp-3MQwXa7vqy-0PRTvq4UVAZ__u8Yk6PO6W14KUZrPkhTsRXWFwLdK0NTwbJRLBLmzeuZGsA" type="text/javascript"></script>

<!--goog local api key beta.secretlondon.us: ABQIAAAAEApdQKp-3MQwXa7vqy-0PRTvq4UVAZ__u8Yk6PO6W14KUZrPkhTsRXWFwLdK0NTwbJRLBLmzeuZGsA-->
<!--goog local api key localhost:8000: ABQIAAAAEApdQKp-3MQwXa7vqy-0PRQCULP4XOMyhPd8d_NrQQEO8sT8XBTlGvJCQhH0SlAnOODhv4dQJ__EbA-->
	    <script type="text/javascript"> 

		var map = null;
		var geocoder = null;
		var marker = null;
		var localSearch = new GlocalSearch();

		$('document').ready(function() {
		  if (el = $('#id_title')) {
			el.focus();
		  }
		  if (GBrowserIsCompatible()) {
                    canvas = document.getElementById("map_canvas");
		    map = new GMap2(canvas);
		    map.setCenter(new GLatLng(51.52487262675978, -0.1064300537109375), 15);
		    map.addControl(new GLargeMapControl3D());
		    marker = new GMarker(new GLatLng(51.52487262675978, -0.1064300537109375), {draggable: true});
		    map.addOverlay(marker);
		    GEvent.addListener(marker, "dragend", function() {
		      point = marker.getPoint();
		      document.getElementById('id_latitude').value = point.lat();
		      document.getElementById('id_longitude').value = point.lng(); 
		    });
		    geocoder = new GClientGeocoder();
		  }
		  $('#id_title').blur(function() { if (!hasCoords()) { showAddress(); } });
		  $('#id_title').keyup(function() { setShowAddressTimeout(); });
		  $('#id_location').blur(function() { if (!hasCoords()) { showAddress(); } });
		});

		function hasCoords() {
			return $('#id_latitude').value || $('#id_longitude').value;
		}

		function getAddress() {
			return $('#id_title').val() + ' ' + $('#id_location').val();
		}

		var showAddressTimeout = null;
		function setShowAddressTimeout() {
			clearTimeout(showAddressTimeout);
			showAddressTimeout = setTimeout(showAddress, 1000);
		}

		function showAddress(address) {
			if (typeof(address) == 'undefined') {
				address = getAddress();
			}
			if (!jQuery.trim(address)) {
				return;
			}
		  // first we try looking up using the google local ajax search API, which works better for postcodes

                  localSearch.setSearchCompleteCallback(null,
		      function() {
			clearTimeout(showAddressTimeout);
			if (localSearch.results[0]) {

			html = '';
			resultCount = localSearch.results.length;
			for (i = 0; i < resultCount; i++) {
				r = localSearch.results[i];
				html += '<li><a href="#" onclick="selectMapResult(' + r.lat + ',' + r.lng + ',\'' + r.streetAddress.replace('\'', '\\\'') + '\'); return false;">' + r.title + '</a></li>';
			}

			displayMapResults(html);
			
			  var resultLat = localSearch.results[0].lat;
			  var resultLng = localSearch.results[0].lng;
			  var point = new GLatLng(resultLat,resultLng);
			  document.getElementById('id_latitude').value = resultLat;
			  document.getElementById('id_longitude').value = resultLng;
			  map.setCenter(point, 15);
                          if (marker) {
			    marker.setLatLng(new GLatLng(point.lat(), point.lng()));
			  }
			} else {
				// if local search fails, we try the geocode address search

				if (geocoder) {
				    geocoder.getLatLng(
				      address + ', London',
				      function(point) {
					// we detect center of london as "no result"
					if (!point || ((point.lat() == 51.5001524) && (point.lng() == -0.1262362))) {
					  noMapResults();
					} else {
					  selectMapResult(point.lat(), point.lng());
					}
				      }
				    );
				  }
			}
                      }
                    );
                  localSearch.execute(address + ', London');
		}

		function displayMapResults(listHtml) {
			document.getElementById('map_search_not_found').style.display = 'none';	
			document.getElementById('map_search_results_list').style.display = 'block';	
			results = document.getElementById('map_search_results_list');
			results.innerHTML = listHtml;
		}

		function noMapResults() {
			document.getElementById('map_search_not_found').style.display = 'block';	
			document.getElementById('map_search_results_list').style.display = 'none';	
		}

		function selectMapResult(lat, lng, address) {
			document.getElementById('map_search_not_found').style.display = 'none';	
			document.getElementById('map_search_results_list').style.display = 'none';
		  	document.getElementById('id_latitude').value = lat;
		  	document.getElementById('id_longitude').value = lng;
			map.setCenter(new GLatLng(lat, lng), 15);
			if (marker) {
			    marker.setLatLng(new GLatLng(lat, lng));
			}
			locationField = document.getElementById('id_location');
			if (address && (!locationField.value || confirm('Update location field to "' + address + '"?'))) {
				locationField.value = address;
			}
		}

		</script>
		<p style="text-align: center; margin: 0 0 5px; text-align: center; width: 500px;"><input value="Find on map" onclick="return showAddress()" type="button" /></p>
		<div id="map_search_results">
			<p id="map_search_not_found" style="display: none;">Not found</p>
			<ol id="map_search_results_list">
			</ol>
		</div>
		<div id="map_canvas" style="width: 500px; height: 250px; margin-bottom: 5px;"></div> 

            {% endifequal %}
        {% endfor %}
    {% endform %}
    

{% endblock %}
