{% extends 'layout/generic.html' %}

{% block bodytag %}id="edit_secret"{% endblock %}

{% block pagemedia %}
<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{GOOGLE_MAPS_API}}" type="text/javascript"></script> 
<script src="http://www.google.com/uds/api?file=uds.js&v=1.0&key={{GOOGLE_MAPS_API}}" type="text/javascript"></script>
{#<script src="{{MEDIA_URL}}/js/secret.edit.js" type="text/javascript"></script>#}
<script src="{{MEDIA_URL}}/js/proposal.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/secret.css" />
{% endblock %}

{% block left %}
{% if secret.pk %}Edit{% else %}Create{% endif %} Secret
{% endblock %}

{% block right %}
    {% form form %}
        <div id="map_canvas" style="width: 500px; height: 250px; margin-bottom: 5px;"></div>
    	<p style="text-align: center; margin: 0 0 5px; text-align: center; width: 500px;"></p>
        <div id="map_search_results">
        	<p id="map_search_not_found" style="display: none;">Not found</p>
        	<ol id="map_search_results_list">
        	</ol>
        </div>
    	<br class="clear_both" />
        <label>What?</label>{{ form.title }}<label>in</label>
    	<label>Where</label>{{ form.location }}
    	<input value="Find on map" onclick="return lookupAddress()" type="button" class="pink_button" />
        <br class="clear_both" />
    	<label>Comments &amp; Description</label><br /><br />
    	{{ form.description }}
        <div style="display:none">
        {{ form.latitude }}
        {{ form.longitude }}
        </div>
    <br class="clear_both" />
    <div class="submit_button_box">	
    {% endform %}
{% endblock %}