{% extends 'layout/base.html' %}

{% block content %}

<h2>Secrets</h2>
<h3>Form</h3>
{% form form %}
    {% for f in form %}
        {% field f %}
    {% endfor %}
{% endform %}

<h3>Results {{results.count}}</h3>
{% for d in results.documents %}
    {% call d 'render' template %}
{% endfor%}

<h4>All secrets</h4>
<ul>
{% for secret in secrets %}
    {% include template %}
{% endfor %}
</ul>

<h4>view as</h4>
<ul>
{% for t in template_types %}
    {# TODO: THIS IS BAD AS LOOSES CURRENT SEARCH TERMS - FIX WHEN ADD SOLR #}
    <li><a href="{% call form 'template_url' t %}">{{t}}</a></li>
{% endfor %}
</ul>
{% endblock %}