{% extends 'layout/base.html' %}

{% block pagemedia %}
{# css #}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/secrets.css" />

{# scripts (should be at bottom) #}
<script type="text/javascript" src="{{MEDIA_URL}}/js/search.map.js"></script>
{% endblock %}

{% block content %}
<div class="page_header">
	<p id="page_title" class="left_sidebar">
		Search<br />
	</p>
	<div class="right_content top_content">

		{% form form 'secret_search' %}
		    <div style="float:right">
		        View as
		        <a href="{% call form 'template_url' 'location' %}"><img src="{{MEDIA_URL}}/images/map_{{ tabs.location|yesno:'hi,lo' }}.png" /></a>
		        <a href="{% call form 'template_url' 'list' %}"><img src="{{MEDIA_URL}}/images/list_{{ tabs.list|yesno:'hi,lo' }}.png" /></a>
		        <a href="{% call form 'template_url' 'photo' %}"><img src="{{MEDIA_URL}}/images/photo_{{ tabs.photo|yesno:'hi,lo' }}.png" /></a>
		    </div>
			{{ form.title }}{{ form.location }}<input type="submit" value="go" class="pink_button" style="margin-left:10px" />
		</form>
		<br class="clear_left" />
		{% include 'layout/pages.html' %}
	</div>
	<div class="clear_left"></div>
	
	
	
</div><!-- END OF THE DISCUSSIONS HEADER id=page headeric-->

{# this looks up the rest of the files #}
{% include search_template %}


{% endblock %}