{% extends 'layout/base.html' %}

{% block pagemedia %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/secret.css" />
{% endblock %}



{% block content %}
{% with u as secret.created_by %}
<div class="page_header">
	<div id="page_title" class="left_sidebar">
		<img src="{{MEDIA_URL}}/images/3d_white_keyhole.png" />
		<!-- <a href="#">&#43; add a photo</a> -->

	</div>
	<div class="right_content top_content">
		<div id="map">
			{% if secret.latitude and secret.longitude %}
			<img src="http://maps.google.com/maps/api/staticmap?size=200x200&markers={{secret.latitude}},{{secret.longitude}}&sensor=false&zoom=13">
			{% else %}
			<p class="secret_missing_image">Photos to come</p>
			{% endif %}
		</div>
		<div id="secret_details">
			{#<a href="#">&laquo; Back to secrets</a>#}
			<h1>{{secret.title}}</h1><p class="first">Added on {{secret.created_at|date:"j M Y G:i"}} by <a href="{{u.get_absolute_url}}">{{u.first_name}} {{u.last_name}}</a></p>
			<p><a href="#">Proposals ({{secret.proposal_count}})</a> 
			{% if secret.is_editable %}<a href="{{secret.get_edit_url}}">Edit</a>{% endif %}
			
			{% comment %}<a href="#">Been there (2)</a> <a href="#">Photos (1)</a>{% endcomment %}</p>
			<p>{{secret.description}}</p>
			<p>{#{% with secret as obj %}{% include 'perm/editable_logic.html' %}{% endwith %}#}</p>
		</div>
	</div>
	<div class="clear_left"></div>
</div>
{% endwith %}

{% with secret.proposals as propsals %}
{% if proposals %}
<div id="discussions" class="content_line">
	<div class="left_sidebar">
		<p><span>{{ proposals|length }}</span> Suggestions</p>
		<small>
            <a href="{% url new_discussion %}">Create new</a>
        </small>
	</div>
	
	<div class="right_content right_triangle">
	    {% for discussion in discussions %}
	    {% with discussion.created_by as user %}
		<p class="date_added">
		    <span class="highlight">Latest post</span> by <a href="{{user.get_absolute_url}}">{{user.name}}</a><br />
		    {{discussion.comment_count}} posts, {{discussion.proposal_count}} secrets.
		</p>
		{% endwith %}
		<a class="discussion_title" href="{{discussion.get_absolute_url}}">{{discussion.title}}</a>
		<p class="discussion_stats">{{discussion.text|truncatewords:"10"}}</p>
		<br class="clear_both" /><br />
        {% endfor %}
	</div>
	<div class="clear_both"></div>
</div>
{% endif %}
{% endwith %}

{% comment %}
{% for proposal in secret.proposals %}
<div id="proposals" class="content_line">
	<div class="left_sidebar left_triangle">
		<p class="side_agreements"><span>{{proposal.agreement_count}}</span> agree</p><br class="clear_both"/>
		<a href="" class="pink_button">I agree</a><br class="clear_both"/>
	</div>
	<div class="right_content">
		<h3><a href="#">Best coffee shop in London?</a></h3>
		<p>Proposed by Tiffany Philippou</p>
		<div class="proposal_comments">
			<p class="comment_summary">3 comments in this discussion. 10 comments in total. <a href="#">View all Comments</a></p>
			<div class="clear_right"></div>
			<p><span class="highlight">Tiffany Philippou</span> OMG, I love this place!<span class="comment_posted_time">12 hours ago</span></p><span class="report highlight">Report</span>
			<p class="last"><span class="highlight">Tiffany Philippou</span> OMG, I love this place!<span class="comment_posted_time">12 hours ago</span></p><span class="report highlight">Report</span>
	        </div>
		
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE PROPOSALS-->
{% endfor %}
{% endcomment %}

{% comment %}
<div id="been_there" class="content_line">
	<div class="left_sidebar">
		<p>10 been there</p>
		<a href="#" class="pink_button">Been there</a>
	</div>
	<div class="right_content right_dark_triangle">
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<br class="clear_left" />
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<br class="clear_left" />
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<br class="clear_left" />
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="clear_both"></div>
		<p><a href="#">Show all users that have been there</a></p>
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE BEEN THEREs-->
{% endcomment %}
{% comment %}
<div id="photos" class="content_line">
	<div class="left_sidebar">
		<p><span>3</span> Photos</p>
		<a href="#" class="pink_button">&#43; Add photo</a>

	</div>
	<div class="right_content right_dark_triangle">
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		
		<div class="clear_both"></div>				
	</div>
	<div class="clear_both"></div>

	
</div><!-- END OF THE PHOTOS-->
{% endcomment %}

<div id="comments_header" class="content_line">
	<div class="left_sidebar">
		<p>{{secret.comment_count}} comments</p>
	</div>
	<div class="right_content">
	    {% if user.is_authenticated %}
		{% form comment_form %}
    	    {{ comment_form.text }}
    	{% endform '&#43; comment' 'pink_button' %}
    	{% else %}
    	    <div style="margin-top:6px;">Please login above using facebook-connect to comment. Thanks!</div>
    	{% endif %}
	</div>
	<div class="clear_left"></div>
</div>
{% with secret.comments as comments %}
    {% if comments %}
    <div id="comments">
        {% for comment in comments %}
            {% with comment.created_by as u %}
    	    <div id="discussion_line_2" class="content_line">
    	    	<div class="left_sidebar keeper">
    	    		<img src="{{ u.profile_image.small }}" alt="{{ u.first_name }} {{ u.last_name }}">
    	    	</div>
    	    	<div class="right_content right_triangle">
    	    		<p class="date_added">15 Hours ago<br><a href="#">Report</a></p>
    	    		<h3>{{ u.first_name }} {{ u.last_name }} <span class="plain">wrote:<span></span></span></h3>
    	    		<div>{{ comment.text }}</div>
    	    	</div>
    	    	<div class="clear_left"></div>
    	    </div>
    	    {% endwith %}
    	{% endfor %}
    </div>
    {% endif %}
{% endwith %}

<!-- BEGINNING OF THE SHARED FOOTER -->

{% endblock %}
