{% extends 'layout/base.html' %}

{% block pagecss %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/secret.css" />
{% endblock %}



{% block content %}
{% with u as secret.created_by %}
<div class="page_header">
	<div id="page_title" class="left_sidebar">
		<img src="{{u.facebook.profile_image_url_small}}" />
		<a href="#">&#43; add a photo</a>
	</div>
	<div class="right_content top_content">
		<div id="map">
			<img src="media/images/google_holder_200sq.png" />
		</div>
		<div id="secret_details">
			<a href="#">&laquo; Back to secrets</a>
			<i>{{secret.location}} ({{secret.latitude}},{{secret.longitude}})</i>
			<h1>{{secret.title}}</h1><p class="first">Added 12 days ago by <a href="">someone very cool</a></p>
			<p><a href="#">Proposals (2)</a> {% comment %}<a href="#">Been there (2)</a> <a href="#">Photos (1)</a>{% endcomment %}</p>
			<p>{{secret.description}}</p>
			<p>{% with secret as obj %}{% include 'perm/editable_logic.html' %}{% endwith %}</p>
		</div>
	</div>
	<div class="clear_left"></div>
</div>
{% endwith %}

<div id="proposals" class="content_line left_triangle">
	<div class="left_sidebar left_triangle">
		<p class="side_agreements"><span>5</span> agree</p><br class="clear_both"/>
		<a href="" class="pink_button">I agree</a><br class="clear_both"/>
	</div>
	<div class="right_content">
		<h3><a href="#">Best coffee shop in London?</a></h3>
		<p>Proposed by Tiffany Philippou</p>
		<div class="proposal_comments">
			<p class="comment_summary">3 comments in this discussion. 10 comments in total. <a href="#">View all Comments</a></p>
			<div class="clear_right"></div>
			<p><span class="highlight">Tiffany Philippou</span> OMG, I love this place!<span class="comment_posted_time">12 hours ago</span></p><span class="report highlight">Report</span>
			<p class="last"><span class="highlight">Tiffany Philippou</span> OMG, I love this place!<span class="comment_posted_time">12 hours ago</span></p><span class="report highlight">Report</span>
	        </div>
		
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE PROPOSALS-->

<div id="been_there" class="content_line">
	<div class="left_sidebar">
		<p>10 been there</p>
		<a href="#" class="pink_button">Been there</a>
	</div>
	<div class="right_content right_dark_triangle">
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="clear_both"></div>
		<p><a href="#">Show all users that have been there</a></p>
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE BEEN THEREs-->


<div id="photos" class="content_line">
	<div class="left_sidebar">
		<p><span>3</span> Photos</p>
		<a href="#" class="pink_button">&#43; Add photo</a>

	</div>
	<div class="right_content right_dark_triangle">
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		
		<div class="clear_both"></div>				
	</div>
	<div class="clear_both"></div>

	
</div><!-- END OF THE PHOTOS-->

<div id="comments_header" class="content_line">
	<div class="left_sidebar">
		<p>2 comments</p>
	</div>
	<div class="right_content">
		<a href="#" class="pink_button">&#43; comment</a>
	</div>
	<div class="clear_left"></div>
</div>
<div id="comments">
	<div id="discussion_line_1" class="content_line">
		<div class="left_sidebar keeper">
			<img src="media/images/avatars/keeper_001.jpg" alt="keeper_001">
		</div>
		<div class="right_content right_triangle">
			<p class="date_added">15 Hours ago<br><a href="#">Report</a></p>
			<h3>Tiffany Philippou <span class="plain">wrote:<span></span></span></h3>
			<p>I’ve never really enjoyed sandwiches for lunch. Subs are way better, though subway ones aren’t great. There was a baguette shop that used to be off Conduit St which did these really nice long sandwiches that was run by a trained chef, etc. really amazing guy.</p>
			<p>Shame it’s closed, or I would suggest it!</p>
		</div>
		<div class="clear_left"></div>
	</div>

	<div id="discussion_line_2" class="content_line">
		<div class="left_sidebar keeper">
			<img src="media/images/avatars/keeper_001.jpg" alt="keeper_001">
		</div>
		<div class="right_content right_triangle">
			<p class="date_added">15 Hours ago<br><a href="#">Report</a></p>
			<h3>Tiffany Philippou <span class="plain">wrote:<span></span></span></h3>
			<p>I’ve never really enjoyed sandwiches for lunch. Subs are way better, though subway ones aren’t great. There was a baguette shop that used to be off Conduit St which did these really nice long sandwiches that was run by a trained chef, etc. really amazing guy.</p>
			<p>Shame it’s closed, or I would suggest it!</p>
		</div>
		<div class="clear_left"></div>
	</div>
</div>

<!-- BEGINNING OF THE SHARED FOOTER -->

{% endblock %}
