{% extends 'layout/base.html' %}

{% block pagemedia %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/secret.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/lightbox/css/jquery.lightbox-0.5.css" />
<script src="{{MEDIA_URL}}/js/secret.view.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}/lightbox/js/jquery.lightbox-0.5.min.js" type="text/javascript"></script>
{% if secret.latitude and secret.longitude %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        createMap({{secret.latitude}}, {{secret.longitude}}, '#view_map');
        var base_url = '{{MEDIA_URL}}/lightbox/images/';
        $('.-lightbox').lightBox({
            fixedNavigation:true,
            imageBlank: base_url+'lightbox-blank.gif',
            imageLoading: base_url+'lightbox-ico-loading.gif',
            imageBtnClose: base_url+'lightbox-btn-close.gif',
            imageBtnPrev: base_url+'lightbox-btn-prev.gif',
            imageBtnNext: base_url+'lightbox-btn-next.gif',
        });
    });
    
</script>
{% endif %}
{% endblock %}

{% block facebook_js %}
{% ifequal request.GET.fb "s" %}
    {% include "secret/render/facebook_publish.html" %}
{% endifequal %}
{% ifequal request.GET.fb "p" %}
    {% include "photo/render/facebook_publish.html" %}
{% endifequal %}
{% ifequal request.GET.fb "c" %}
    {% include "comment/render/facebook_publish.html" %}
{% endifequal %}
{% endblock %}

{% block content %}
{% with secret.created_by as user %}
<div class="page_header">
	<div id="page_title" class="left_sidebar">
	    {% with secret.primary_photo as pi %}
	    {% if pi %}
	        <a href="{{pi.resized.url}}" class="-lightbox"><img src="{{pi.thumb.url}}" width="110px" /><br />view photos</a>
	    {% else %}
		    <img src="{{MEDIA_URL}}/images/3d_white_keyhole.png" />
		{% endif %}
        {% endwith %}
	</div>
	<div class="right_content top_content">
	    {# map #}
		<div id="map">
			<div id="view_map" style="display:none"></div>
		</div>
		{# details #}
		<div id="secret_details">
			<div style="float:right">
	       {% include "render/share_page_buttons.html" %}
			</div>
			<h1>{{secret.title}}</h1>
			<p class="first">{{secret.location}}</p>
			<p>
			    {% if secret.url %}<a href="{{secret.url}}" rel="nofollow">Offical Website</a>{% endif %}
			    {% if secret.google_reff %}<a href="{{secret.google_reff}}" rel="nofollow">Google Webpage</a>{% endif %}
			    <a href="{{user.get_absolute_url}}">created by {{user.name}}</a>
			    {% if secret.is_editable %}<a href="{{secret.get_edit_url}}">Edit</a>{% endif %}
			</p>
			{% if secret.description %}<div>{{secret.description|linebreaks}}</div>{% endif %}
			
			<p class="first"></p>
			<h4>Upload a photo</h4>
			{% if user.is_authenticated %}
			{% form photo_form %}
			    {{ photo_form.image }}
			{% endform 'submit' 'pink_button' %}
			{% endif %}
		</div>
	</div>
	<div class="clear_left"></div>
</div>
{% endwith %}

{% with secret.photos as photos %}
{% if photos %}
<div id="photos" class="content_line">
	<div class="left_sidebar">
		<p><span>{{ photos|length }}</span> Photos</p>
	</div>
	
	<div class="right_content right_triangle" style="padding:10px; width:761px">
	    {% for photo in photos %}
	        <div style="float:left;margin-right:2px;margin-bottom:5px">
	            <a href="{{photo.resized.url}}" class="-lightbox"><img src="{{photo.thumb.url}}" alt="{{photo.caption}}" /></a><br />
	            {% with photo.created_by as user %}
	                uploaded by <a href="{{user.get_absolute_url}}">{{user.name}}</a>
	            {% endwith %}
	        </div>
        {% endfor %}
	</div>
	<div class="clear_both"></div>
</div>
{% endif %}
{% endwith %}

{% with secret.proposals as proposals %}
{% if proposals %}
<div id="discussions" class="content_line">
	<div class="left_sidebar">
		<p><span>{{ proposals|length }}</span> Suggestions</p>
	</div>
	
	<div class="right_content right_triangle">
	    {% for proposal in proposals %}
	        {% with proposal.discussion_comment as comment %}
	            {% with comment.discussion as discussion %}
	                {% with discussion.created_by as user %}
		            <p class="date_added">
		                created by <a href="{{user.get_absolute_url}}">{{user.name}}</a><br />
		                {{discussion.comment_count}} posts, {{discussion.proposal_count}} secrets.
		            </p>
		            {% endwith %}
		            <a class="discussion_title" href="{{discussion.get_absolute_url}}">{{discussion.title}}</a>
		            <p style="color:white;width:550px" class="discussion_stats">{{discussion.text|truncatewords:"10"}}</p>
		            <p style="color:white;width:550px" class="discussion_stats">
		                {% with comment.created_by as user %}<a href="{{user.get_absolute_url}}">{{user.name}}</a>{% endwith %} commented:<br />
		                <i>{{comment.text}}</i></p>
		            <br class="clear_both" /><br />
		        {% endwith %}
		    {% endwith %}
        {% endfor %}
	</div>
	<div class="clear_both"></div>
</div>
{% endif %}
{% endwith %}

{% comment %}
{% for proposal in secret.proposals %}
<div id="proposals" class="content_line">
    {% with profile.discussion_comment as comment %}
	<div class="left_sidebar left_triangle">
		<p class="side_agreements"><span>{{proposal.agreement_count}}</span> agree</p><br class="clear_both"/>
		<a href="" class="pink_button">I agree</a><br class="clear_both"/>
	</div>
	<div class="right_content">
	    {% with comment.discussion as discussion %}
		<h3><a href="{{discussion.get_absolute_url}}">{{discussion.title}}</a></h3>
		{% endwith %}
		{% with comment.created_by as user %}
		<p>Suggested by <a href="{{user.get_absolute_url}}">{{user.name}}</a></p>
		{% endwith %}
		{% with proposal.comments as pcomments %}
		<div class="proposal_comments">
			<p class="comment_summary">3 comments in this discussion. 10 comments in total. <a href="#">View all Comments</a></p>
			<div class="clear_right"></div>
			{% for c in pcomments %}
			<p {% if forloop.last %}class="last" {% endif %}><span class="highlight">Tiffany Philippou</span> OMG, I love this place!<span class="comment_posted_time">12 hours ago</span></p><span class="report highlight">Report</span>
            {% endfor %}
	    </div>
	    {% endwith %}
	</div>
	{% endwith %}
	<div class="clear_left"></div>
</div><!-- END OF THE PROPOSALS-->
{% endfor %}
{% endcomment %}
{% comment %}
<div id="been_there" class="content_line">
	<div class="left_sidebar">
		<p>10 been there</p>
		<a href="#" class="pink_button">Been there</a>
	</div>
	<div class="right_content right_dark_triangle">
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<br class="clear_left" />
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<br class="clear_left" />
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="visitor_holder">
			<img src="media/images/avatars/keeper_001.jpg">
			<p class="name">Tom Harvey</p>
			<br class="clear_left" />
			<p class="stats"><span>6</span>Secrets</p><p class="stats"><span>10</span>Agrees</p>
	        </div>
		<div class="clear_both"></div>
		<p><a href="#">Show all users that have been there</a></p>
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE BEEN THEREs-->
{% endcomment %}
{% comment %}
<div id="photos" class="content_line">
	<div class="left_sidebar">
		<p><span>3</span> Photos</p>
		<a href="#" class="pink_button">&#43; Add photo</a>

	</div>
	<div class="right_content right_dark_triangle">
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		<img src="media/images/placeholders.jpg" />
		
		<div class="clear_both"></div>				
	</div>
	<div class="clear_both"></div>

	
</div><!-- END OF THE PHOTOS-->
{% endcomment %}

<div id="comments_header" class="content_line">
	<div class="left_sidebar">
		<p>{{secret.comment_count}} comments</p>
	</div>
	<div class="right_content">
	    {% if user.is_authenticated %}
		{% form comment_form %}
    	    {{ comment_form.text }}
    	{% endform '&#43; comment' 'pink_button' %}
    	{% else %}
    	    <div style="margin-top:9px;color:#333">Please <a href="{% url render_template template='login' %}">login</a> above using facebook-connect to comment. Thanks!</div>
    	{% endif %}
	</div>
	<div class="clear_left" /></div>
</div>
{% with secret.comments as comments %}
    {% if comments %}
    <div id="comments">
        {% for comment in comments %}
            {% with comment.created_by as u %}
    	    <div id="discussion_line_2" class="content_line">
    	    	<div class="left_sidebar keeper">
    	    		<img src="{{ u.profile_image.small }}" alt="{{ u.first_name }} {{ u.last_name }}">
    	    	</div>
    	    	<div class="right_content right_triangle">
    	    		<p class="date_added">{{comment.get_time_since_created}}<br><a href="#">Report</a></p>
    	    		<h3>{{ u.first_name }} {{ u.last_name }} <span class="plain">wrote:<span></span></span></h3>
    	    		<div>{{ comment.text|linebreaks }}</div>
    	    	</div>
    	    	<div class="clear_left"></div>
    	    </div>
    	    {% endwith %}
    	{% endfor %}
    </div>
    {% endif %}
{% endwith %}

<!-- BEGINNING OF THE SHARED FOOTER -->

{% endblock %}
