{% extends 'layout/generic.html' %}

{% block pagemedia %}{% endblock %}

{% block left %}
    <br />
    <div style="margin-top:40px">{{form.title.label}}</div>
    <div style="margin-top:25px">{{form.text.label}}</div>
{% endblock %}


{% block right %}
    <h3>Create a new discussion</h3>
    <form action="" method="POST"  accept-charset="utf-8" id="id_new_discussion">
        <div>{{ form.title }}</div>
        <div class="clear_left">{{ form.text }}</div>
        
        {% if form.facebook_uid %}
            <br class="clear_left" />
            {% field form.facebook_uid %}
        {% endif %}
        {% if form.facebook_name %}
            <br class="clear_left" />
            {% field form.facebook_name %}
        {% endif %}
        <br class="clear_left" />        
        <input type="submit" class="None" value="{% if pk %}Edit{% else %}Create{% endif %} discussion">
    </form>
{% endblock %}
