{% extends 'layout/generic.html' %}


{% block left %}
    <br />
    <div style="margin-top:40px">{{form.title.label}}</div>
    <div style="margin-top:25px">{{form.text.label}}</div>
{% endblock %}


{% block right %}
    <h3>Create a new discussion</h3>
    {% form form %}
        <div>{{ form.title }}</div>
        <div class="clear_left">{{ form.text }}</div>
        
        {% if form.facebook_uid %}
            <br class="clear_left" />
            {% field form.facebook_uid %}
        {% endif %}
        {% if form.facebook_name %}
            <br class="clear_left" />
            {% field form.facebook_name %}
        {% endif %}
        <br class="clear_left" />
    {% endform 'Create discussion' %}
{% endblock %}