<div class="content_line">
	<div class="left_sidebar">
		<p class="secret_count"><span class="post_stat_count">{{ discussion.comment_count }}</span> posts</p><p class="secret_count"><span class="post_stat_count">{{discussion.proposal_count}}</span> secrets</p>
	</div>
	<div class="right_content right_triangle">
	    {% with discussion.lastest_comment as comment %}
		<p class="date_added">Latest post by {% with comment.creator as u %}<a href="{{u.get_absolute_url}}">{{u.first_name}} {{u.last_name}}</a>{% endwith %}<br />posted {{comment.created_at}} minutes ago</p>
		<a class="discussion_title" href="{{discussion.get_absolute_url}}">{{discussion.title}}</a>
		{% endwith %}
		<p class="discussion_stats">{{ discussion.comment_count }} posts, {{discussion.proposal_count}} secrets - created {{discussion.created_at}} hours ago.</p>
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE FIRST DISCUSSION LINE-->