{% extends 'layout/base.html' %}

{% block pagecss %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/discussions.css" />
{% endblock %}

{% block content %}
<div class="page_header">
	<p id="page_title" class="left_sidebar">
		Filter
	</p>
	<div class="right_content top_content">
		<a href="{% url new_discussion %}" id="top_reply_button">New Discussion</a>
		{% form search_form %}
			<label>Show only discussions about: </label>{{ search_form.title }}
		{% endform 'Go' 'pink_button' %}
		<div class="clear_left"></div>
	    
	    <div id="add_discussion">
	    {% form newd_form %}
	        <label>Title</label>{{ newd_form.title }}<br class="clear_left" />
		    <label>Description</label>{{ newd_form.text }}<br class="clear_left" />
		    <label>Tags</label>{{ newd_form.tags }}
		{% endform 'Discuss' 'pink_button' %}
		</div>
			<div class="clear_left"></div>
		{% include 'layout/pages.html' %}
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE DISCUSSIONS HEADER id=page headeric-->
{% if results %}
    {% for d in results.documents %}
        {{ d.data_dict.render|safe }}
    {% endfor %}
{% endif %}

{% endblock %}
