{% extends 'layout/base.html' %}

{% block pagemedia %}

{% endblock %}

{% block content %}
<div class="g8 prefix_2 suffix_2">
    <div class="menu">
        {% form search_form %}
        <h3 class="inline">{{ search_form.sort }} Discussions on</h3> {{ search_form.title }}	
    	{% endform 'Go' 'pink_button' %}
    </div>
    <div class="chunk">
    {% for discussion in discussions %}
        <div class="discussion" id="discussion_{{discussion.pk}}">
            {% include "discussion/render/singular.html" %}
        </div>
    {% endfor %}
    </div>
</div>
<div class="clear"></div>
<div class="page_header">
	<p id="page_title" class="left_sidebar">
		Filter
	</p>
	<div class="right_content top_content">
		<a href="{% url new_discussion %}" id="top_reply_button">New Discussion</a>
		
		
		<div class="clear_left"></div>
		{% include 'layout/pages.html' %}		
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE DISCUSSIONS HEADER id=page headeric-->

{% endblock %}
