{% extends 'layout/base.html' %}

{% block pagemedia %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/discussions.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/discussion.css" /><!-- including the discussions to give access to the styles for the add discussion form -->
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/propose.css" />
<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{GOOGLE_MAPS_API}}" type="text/javascript"></script> 
<script src="http://www.google.com/uds/api?file=uds.js&v=1.0&key={{GOOGLE_MAPS_API}}" type="text/javascript"></script>
<script src="{{MEDIA_URL}}/js/proposal.js" type="text/javascript"></script> 
<script type="text/javascript" charset="utf-8">
    DISCUSSION_ID = '{{discussion.pk}}';
</script>
{% endblock %}


{% block content %}


<div class="page_header">
	<p id="page_title" class="left_sidebar">
		Discuss {# DELETE BUTTON FOR ADMINS ONLY #}
        {% with discussion as obj %}
            {% include 'perm/editable_logic.html' %}
        {% endwith %}
	</p>
	<div class="right_content top_content">
		{#<a class="discussion_nav" href="{% url search_discussions %}" title="back to discussions">&laquo; Back to discussions</a><a href="{% url new_discussion %}" class="discussion_nav" title="start a new discussion">&#43; Start a new discussion</a>#}



{# DISCUSSION TEXT AND TITLE #}
<h2>{{discussion.title}}</h2>
				<form action="#" class="discussion_reply_form">
					<div class="discussion_reply_tabs">
						<span class="comment_tab pink_button"><a {% if user.is_authenticated %}href="#" class="comment_tab_button"{% else %}href="{% url render_template template='login' %}"{% endif %}>COMMENT</a></span>
						<span class="suggest_tab pink_button"><a {% if user.is_authenticated %}href="#" class="suggest_tab_button"{% else %}href="{% url render_template template='login' %}"{% endif %}>SUGGEST</a></span>
						<br class="clear_right /">
					</div>

					<div class="discussion_reply_form_body">
						<div class="suggest_secret">
							<h4>Suggest a secret</h4>
							<ul class="secrets_list">
							</ul>
							
							<div class="map">
								<div class="map_search_results">
									<p class="map_search_not_found">Not found</p>
									<div class="map_search_results_list">
										<p>Did you mean..</p>
										<ol>
										</ol>
									</div>
								</div>
								<div class="map_canvas" id="map_canvas"></div>
								<div class="map_canvas_small_placeholder" id="map_canvas_small_placeholder"></div>
								<div class="map_canvas_small" id="map_canvas_small"></div>
							</div>

							<p class="add_secret"><a href="#">&#43; Add another secret</a></p>
						</div>
						
						<div class="existing_secrets">
							<h3>Choose existing secret</h3>
							<ul class="existing_secrets_list">
								<li class="existing_secret">
									
								</li>
							</ul>
						</div>
						
						<div class="comment">
							<h4><label for="">Add a comment</label></h4>
							<textarea id="" class="comment" name=""></textarea>
						</div>
						
						<div class="buttons">
							<input type="submit" name="sub_share" value="SHARE" class="pink_button">
							<br class="clear_left" />
						</div>
					</div>
				</form>
	    
	    <p>{{discussion.text}}</p>
        <p><i>posted by {% with discussion.created_by as u %}<a href="/accounts/{{u.pk}}/">{{u.first_name}} {{u.last_name}}</a>{% endwith %} &nbsp; at {{discussion.created_at|date:"j M Y G:i"}}. {{discussion.comment_count}} comments, {{discussion.proposal_count}} secrets</i></p>
        {% if discussion.previous_page %}<a href="?page={{discussion.previous_page}}">Prev</a>{% endif %}
            {% for p in discussion.xpages %}
                {% ifequal p discussion.page %}
                    <b>{{p}}</b>
                {% else %}
                    <a href="?page={{p}}">{{p}}</a>
                {% endifequal %}
            {% endfor %}
        {% if discussion.next_page %}<a href="?page={{discussion.next_page}}">Next</a>{% endif %}
        {% if discussion.was_before_birth %}
    		<div class="moderation_holder">
    			<div class="rewritten_explaination">
    				<p>In order to comply with Facebook's terms of use, we've had to re-write this posting in order to view it outside Facebook. If you aren't happy with this, when logged in you can change your postings back to what they were or delete them. If you're really, really not happy, then <a href="mailto:deletemystuffnow@secretlondon.us">email us</a> making sure to include a link to your Facebook profile page, and we'll be happy to delete all your stuff for good.</p>
    				<a href="#" class="close_explaination">OK</a>
    			</div>
    			<p class="moderated">This comment has been rewritten <a class="rewritten" href="#">(why?)</a><span></p>
    		</div>
    	{% endif %}
</div>
<br class="clear_left" />
</div>

    {% for comment in discussion.page_comments %}
        {% include 'comment/discussion.html' %}
        
        {% for proposal in comment.proposals %}
            {% include 'comment/proposal.html' %}
        {% endfor %}
    {% endfor %}

{% endblock %}
