{% extends 'layout/base.html' %}

{% block content %}
    <div class="g8 prefix_2 suffix_2 top bottom">
        <div class="bottom">
        <h3>Communication Settings</h3>
    </div>
    {% form form %}
        {% for f in form %}
        <p class="cl">
            <label><b>{{ f.label }}</b></label><br />
        </p>
        <p class="cl">
            {{ f }}
            <small>{{ f.help_text }}</small>
        </p>
        
        {% endfor %}
    {% endform %}
    
    <div class="top">
        <a href="{{user.get_absolute_url}}">Back to my profile</a>
    </div>
    </div>
{% endblock %}