{% if user.is_authenticated %}
 
<div id="account" class="right">
    {% if user.facebook %}<img src="{{user.facebook.profile_image_url_small}}" />{% endif %} 
    <br/>{{user.first_name}} {{user.last_name}} Rocks!
    <br/><a href="{% url edit_profile %}">Profile</a>
    <br/><a href="{% url socialauth_social_logout %}">Logout</a>
</div>
 
{% else %}
 
<div id="login" class="right">
    <div id="facebook">
        <fb:login-button onlogin="facebook_onlogin();"></fb:login-button>
    </div>
    
    <script type="text/javascript">FB.init("{{ FB_API_KEY }}", "{% url socialauth_xd_receiver %}");</script>
</div>
{% endif %}

