{% extends 'layout/base.html' %}

{% block pagemedia %}{% endblock %}

{% block content %}
    <div class="g4">
        <div class="chunk">
            <img src="{{profile.profile_image.big}}"  alt="{{profile.name}}"/>
            <h1>{{profile.name}}</h1>
            <p>Joined {{profile.get_time_since_joined}}</p>
            {% with profile.get_facebook.url as facebook_url %}
            {% if facebook_url %}<p><a href="{{facebook_url}}">Facebook profile</a></p>{% endif %}
            {% endwith %}
            <div class="top bottom">
                {% with profile.secret_count as secret_count %}
                    <h4>{{secret_count}} secret{{secret_count|pluralize}} shared</h4>
                {% endwith %}
                {% with profile.agreed_with_me_count as agree_count %}
                    <h4>{{agree_count}} {{agree_count|pluralize:"person,people"}} {{agree_count|pluralize:"has,have"}} agreed with {{profile.first_name}}</h4>
                {% endwith %}
            </div>
            <div class="top">
            {% with profile.secrets as secrets %}
                {% if secrets %}
                    {% with secrets|length as num_secrets %}
                    <h2 class="caps subtle">Shared secrets</h2>
                    {% endwith %}
                    <div id="secrets">
                    {% for secret in secrets %}
                        {% include "secret/render/singular.html" %}    
                    {% endfor %}
                    </div>
                {% endif %}
        	{% endwith %}
            </div>
        </div>
    </div>
    <div class="g8">
        {% if tabs.edit %}
    	<div id="edit" class="chunk border-bottom bottom">
			{% if successful %}
                <h1>SAVED!</h1>
            {% endif %}
            {% form form %}
                {% if not profile.email %}<h3>Join the mailing list!</h3>{% else %}<h3>Edit your profile</h3>{% endif %}
                <p class="clear_left">Get all the latest secrets and hot discussions in a beautiful curated email.</p>
                <strong>Email</strong> {{ form.email }}
            {% endform %}
            <a href="{% url edit_communication_settings %}">Edit my communication settings</a>
    	</div>
    	{% endif %}
        <div class="chunk">
        {% with profile.discussions as discussions %}
            {% if discussions %}
                {% with discussions|length as num_discussions %}
                <h2 class="caps subtle">Started {{ num_discussions }} discussion{{num_discussions|pluralize}}</h2>
                {% endwith %}
                <div id="discussions">
                {% for discussion in discussions %}
                    {% include "discussion/render/singular.html" %}    
                {% endfor %}
                </div>
            {% endif %}
    	{% endwith %}
    	</div>
        <div class="chunk">
        {% with profile.proposals as proposals %}
            {% if proposals %}
                {% with proposals|length as proposals_length %}
                <h2 class="caps subtle">Latest responses</h2>
                {% endwith %}
                <div id="secrets">
                {% for proposal in proposals %}
                    <div class="top">
                    {% include "secret/render/proposal.html" %}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
    	{% endwith %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
