{% extends 'layout/base.html' %}

{% block pagemedia %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/profile.css" />
{% endblock %}


{% block content %}

    <div class="page_header">
		<div id="page_title" class="left_sidebar">
			<img src="{{profile.profile_image.medium}}" />
		</div>
		<div class="right_content top_content">
			<div id="user_details">
				<h1>{{profile.first_name}} {{profile.last_name}}</h1><p>Joined {{profile.date_joined|date:"j M Y G:i"}}</p>
				{% comment %}<a href="{% url view_profile pk=profile.pk %}">Preview</a>
				{# DATE TIME #}
				<a href="#proposals" class="first">Proposals (2)</a>
				<a href="#shares">Shares (2)</a>
				<a href="#discussions">Discussions (1)</a>
				<a href="#favourites">Been Theres (1)</a>
				<p>Post to my news feed</p>{% endcomment %}
			</div>
			<div id="user_scores">
				<p><span>{{profile.secrets|length}}</span> secrets</p>
				<p><span>{{profile.agreements|length}}</span> agrees</p>
			</div>
		</div>
		<div class="clear_left"></div>
	</div>
	
	
	{% if tabs.edit %}
	<div id="edit" class="content_line">
		<div class="left_sidebar">
			<p>Edit settings</p>
		</div>
		<div class="right_content right_triangle">
			{% if successful %}
                <h1>SAVED!</h1>
            {% endif %}
            {% form form %}
                {% for f in form %}
                    {% field f %}
                {% endfor %}
            {% endform %}
		</div>
		<div class="clear_left"></div>
	</div><!-- END OF THE Edit-->
	{% endif %}
	
<!-->	<div id="proposal" class="content_line">
		<div class="left_sidebar">
		    <a name="proposals"></a>
			<p><span>{{profile.proposals|length}}</span> proposals</p>
		</div>
		<div class="right_content right_triangle">
			&nbsp;
		</div>
		<div class="clear_left"></div>
	</div><--><!-- END OF THE PROPOSAL Header-->
	
	{# TODO: make this a list of discussions #}
	{% with profile.proposals as proposals %}
	    {% for proposal in proposals %}
	  <!-->  <div class="proposal_line">
	    	<div class="left_sidebar left_triangle">
	    		<p class="side_agreements"><span>{{proposal.agreement_count}}</span> agree</p>
	    	</div>
	    	{% with proposal.discussion_comment.discussion as discussion %}
	    	<div class="right_content">
	    		<h3><a href="{{discussion.get_absolute_url}}">{{discussion.title}}</a></h3>
	    		<div class="proposal_holder">
	    		    {% with proposal.secret as secret %}
	    			<div class="proposal_content">
					{% if secret.latitude and secret.longitude %}
	    				<p class="secret_map_image"><img src="http://maps.google.com/maps/api/staticmap?size=90x90&markers={{secret.latitude}},{{secret.longitude}}&sensor=false&zoom=13"></p>
					{% else %}
	    				<p class="secret_missing_image">Photos to come</p>
					{% endif %}
	    				<h3>{{ secret.title }}</h3>
	    				<p>{{ secret.location }}</p>
	    				<a class="pink_button" href="{{ secret.get_absolute_url }}">View Details</a>
	    				<div class="clear_left"></div>
	    			</div>
	    			{% endwith %}
	    			{#<p><a href="#">Show all secrets proposed &raquo;</a></p>#}
	    		</div>
	    	</div>
	    	{% endwith %}
	    	<div class="clear_left"></div>
	    </div><--><!-- END OF THE PROPOSALS LOOP-->
	    {% endfor %}
	{% endwith %}
	
	{% with profile.secrets as secrets %}
	{% if secrets %}
<!-->	<div id="shares" class="content_line">
		<div class="left_sidebar">
			<p><span>{{secrets|length}}</span> shares</p>
		</div>
		<div class="right_content right_triangle">
			{% for secret in proposal %}
			    {% include 'secret/render/photo.html' %}
			{% endfor %}
			<div class="clear_left"></div>
			{#<p><a href="#">Show all secrets shared &raquo;</a></p>#}
		</div>
		<div class="clear_left"></div>
	</div><--><!-- END OF THE SHARES-->
	{% endif %}
	{% endwith %}
	{% with profile.discussions as discussions %}
	{% if discussions %}
<!-->	<div id="discussions" class="content_line">
		<div class="left_sidebar">
			<p><span>{{ discussions|length }}</span> Discussions</p>
		</div>
		<div class="right_content right_triangle">
			<p class="date_added"><span class="highlight">Latest post</span> by <a href="#">Tiffany Philippou</a><br>posted 2 minutes ago</p>
			<a class="discussion_title" href="discussion.html">What do you think of the new secretlondon Web Site?</a>
			<p class="discussion_stats">3 posts, 0 secrets - created 2 hours ago.</p>
			
			<div class="clear_both"></div>
			
			<p class="date_added"><span class="highlight">Latest post</span> by <a href="#">Tiffany Philippou</a><br>posted 2 minutes ago</p>
			<a class="discussion_title" href="discussion.html">What do you think of the new secretlondon Web Site?</a>
			<p class="discussion_stats">3 posts, 0 secrets - created 2 hours ago.</p>
			
			<div class="clear_both"></div>
						<p><a href="#">Show all discussions &raquo;</a></p>
			
		</div>
		<div class="clear_both"></div>
	</div> END OF THE DISCUSSIONS-->
	{% endif %}
	{% endwith %}
	{% with profile.favourites as favourites %}
	{% if favourites %}
<!-->	<div id="been_theres" class="content_line">
		<div class="left_sidebar">
			<p><span>{{favourites|length}}</span> Been Theres</p>
		</div>
		<div class="right_content right_triangle">
			{% for fav in favourites %}
			    {% with fav.secret as secret %}
			    {% include 'secret/render/photo.html' %}
			    {% endwith %}
			{% endfor %}
			<div class="clear_left"></div>
			{#<p><a href="#">Show all secrets I've been to &raquo;</a></p>#}
		</div>
		<div class="clear_left"></div>
	</div><--><!-- END OF THE BEEN THERES-->
	{% endif %}
	{% endwith %}
	<div class="clear_left"></div>

{% endblock %}
