{% extends 'layout/base.html' %}

{% block pagemedia %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/profile.css" />
{% endblock %}


{% block content %}

    <div class="page_header">
		<div id="page_title" class="left_sidebar">
			<img src="{{profile.profile_image.small}}" />
		</div>
		<div class="right_content top_content">
			<div id="user_details">
				<h1>{{profile.first_name}} {{profile.last_name}}</h1><p>Joined {{profile.date_joined|date:"j M Y G:i"}}</p>
				{% if tabs.edit %}<a href="{% url view_profile pk=profile.pk %}">Preview</a> {% endif %}
				{# DATE TIME #}
				<a href="#proposals" class="first">Proposals (2)</a>
				<a href="#shares">Shares (2)</a>
				<a href="#discussions">Discussions (1)</a>
				<a href="#favourites">Been Theres (1)</a>
				<p>Post to my news feed</p>
			</div>
			<div id="user_scores">
				<p><span>{{profile.secrets|length}}</span> secrets</p>
				<p><span>{{profile.agreements|length}}</span> agrees</p>
			</div>
		</div>
		<div class="clear_left"></div>
	</div>
	
	
	{% if tabs.edit %}
	<div id="proposals" class="content_line">
		<div class="left_sidebar">
			<p>Edit settings</p>
		</div>
		<div class="right_content right_triangle">
			{% if successful %}
                <h1>SAVED!</h1>
            {% endif %}
            {% form form %}
                {% for f in form %}
                    {% field f %}
                {% endfor %}
            {% endform %}
		</div>
		<div class="clear_left"></div>
	</div><!-- END OF THE PROPOSALS-->
	{% endif %}
	
	
	{# TODO: make this a list of discussions #}
	{% with profile.discussions as proposals %}
	<div id="proposals" class="content_line">
		<div class="left_sidebar">
		    <a name="proposals"></a>
			<p><span>{{profile.proposal_count}}</span> proposals</p>
			<p class="side_agreements"><span>5</span> agree</p>
		</div>
		<div class="right_content right_triangle">
			<h3><a href="#">Best coffee shop in London?</a></h3>
			<div class="proposal_holder">
				<div class="proposal_content">
					<p class="secret_missing_image">Photos to come</p>
					<h3>Nordic Bakery</h3>
					<p>Golden Square W1F</p>
					<a class="pink_button" href="{{ 'hi' }}">View Details</a>
					<div class="clear_left"></div>
				</div>
				<p><a href="#">Show all secrets proposed &raquo;</a></p>
			</div>
		</div>
		<div class="clear_left"></div>
	</div><!-- END OF THE PROPOSALS-->
	{% endwith %}
	{% with profile.secrets as secrets %}
	{% if secrets %}
	<div id="shares" class="content_line">
		<div class="left_sidebar">
			<p><span>{{secrets|length}}</span> shares</p>
		</div>
		<div class="right_content right_triangle">
			{% for secret in proposal %}
			    {% include 'secret/render/photo.html' %}
			{% endfor %}
			<div class="clear_left"></div>
			{#<p><a href="#">Show all secrets shared &raquo;</a></p>#}
		</div>
		<div class="clear_left"></div>
	</div><!-- END OF THE SHARES-->
	{% endif %}
	{% endwith %}
	{% with profile.discussions as discussions %}
	{% if discussions %}
	<div id="discussions" class="content_line">
		<div class="left_sidebar">
			<p><span>{{ discussions|length }}</span> Discussions</p>
		</div>
		<div class="right_content right_triangle">
			<p class="date_added"><span class="highlight">Latest post</span> by <a href="#">Tiffany Philippou</a><br>posted 2 minutes ago</p>
			<a class="discussion_title" href="discussion.html">What do you think of the new secretlondon Web Site?</a>
			<p class="discussion_stats">3 posts, 0 secrets - created 2 hours ago.</p>
			
			<div class="clear_both"></div>
			
			<p class="date_added"><span class="highlight">Latest post</span> by <a href="#">Tiffany Philippou</a><br>posted 2 minutes ago</p>
			<a class="discussion_title" href="discussion.html">What do you think of the new secretlondon Web Site?</a>
			<p class="discussion_stats">3 posts, 0 secrets - created 2 hours ago.</p>
			
			<div class="clear_both"></div>
						<p><a href="#">Show all discussions &raquo;</a></p>
			
		</div>
		<div class="clear_both"></div>
	</div><!-- END OF THE DISCUSSIONS-->
	{% endif %}
	{% endwith %}
	
	{% with profile.favourites as favourites %}
	{% if favourites %}
	<div id="been_theres" class="content_line">
		<div class="left_sidebar">
			<p><span>{{favourites|length}}</span> Been Theres</p>
		</div>
		<div class="right_content right_triangle">
			{% for fav in favourites %}
			    {% with fav.secret as secret %}
			    {% include 'secret/render/photo.html' %}
			    {% endwith %}
			{% endfor %}
			<div class="clear_left"></div>
			{#<p><a href="#">Show all secrets I've been to &raquo;</a></p>#}
		</div>
		<div class="clear_left"></div>
	</div><!-- END OF THE BEEN THERES-->
	{% endif %}
	{% endwith %}
	<div class="clear_left"></div>

{% endblock %}