<div id="discussion_line" class="content_line">
    {% with comment.created_by as u %}
	<div class="left_sidebar keeper">
		<img src="{{u.profile_image.small}}" alt="{{u.first_name}} {{u.last_name}}" />
	</div>
	<div class="right_content right_triangle">
		<p class="date_added">{{comment.created_at|date:"j M Y G:i"}}<br /><a href="#">Report</a></p>
		<h3>{{u.first_name}} {{u.last_name}} <span class="plain">wrote:<span></h3>
		<p>{{comment.text}}</p>
	</div>
	<div class="clear_left"></div>
	{% endwith %}
	{% with c as obj %}{% include 'perm/editable_logic.html' %}{% endwith %}
</div>