<div class="comment">    
    {% if user.is_authenticated %}
        <div id="c-preview-{{the_id}}">
            <a href="#" onclick="return swap('#c-preview-{{the_id}}','#c-write-{{the_id}}');">Write a comment</a>
        </div>
        <div id="c-write-{{the_id}}" class="hidden">
    		<div class="cphoto">
                <img src="{{ user.profile_image.small }}" alt="{{ user.name }}">
            </div>
            <div class="ctext">
                {% form comment_form %}
            	    {{ comment_form.text }}
            	{% endform 'Comment' 'pink_button' %}
            </div>
        </div>
	{% else %}
	    Please <a href="{% url render_template template='login' %}">login</a> using Facebook to comment. Thanks!
	{% endif %}
	<div class="clear"></div>
</div>