{% with comment.created_by as u %}
<div id="comment-{{comment.pk}}" class="comment">
	<div class="cphoto">
		<a href="{{u.get_absolute_url}}"><img src="{{ u.profile_image.small }}" alt="{{ u.name }}"></a>
	</div>
	<div class="ctext">
		<div class="float-right">
            <a href="#" class="subtle">Report</a>
		</div>
		<a href="{{u.get_absolute_url}}">{{ u.name }}</a> &nbsp;
		{{ comment.text|linebreaksbr|urlizetrunc:35 }}
		<div style="padding-top:5px"><span class="subtle">{{comment.get_time_since_created}}</span>
		    {% with comment as obj %}
            {% include "perm/editable_logic.html" %}
            {% endwith %}
		</div>
	</div>
	<div class="clear"></div>
</div>
{% endwith %}