<div class="discussion" id="discussion_{{discussion.pk}}">
{% with discussion.created_by as created_by_user %}
<div>
    {% if show_image %}
        <div class="float-right bottoms lefts">
            <img src="{{created_by_user.profile_image.small}}"/>
        </div>
    {% endif %}
    <h2 class="discussion_title"><a href="{{discussion.get_absolute_url}}" class="dohighlight">{{discussion.title}}</a></h2>
    <p class="dohighlight">{{discussion.text|truncatewords:25}}</p> 
    <p>
    <strong>{{discussion.proposal_count}} secret{{discussion.proposal_count|pluralize}} in {{discussion.comment_count}} posts</strong> &nbsp;
    <span class="subtle">
    Latest {{discussion.get_time_since_updated}} &nbsp; 
    Posted by <a href="{{created_by_user.get_absolute_url}}">{{created_by_user.first_name}} {{created_by_user.last_name|first}}</a></span>
    </p>
</div>
{% endwith %}
<div class="clear"></div>
</div>