{% with discussion.created_by as created_by_user %}
<div class="right">
    <a href="{{discussion.get_absolute_url}}" class="title">{{discussion.title}}</a>
    <p>{{discussion.text|truncatewords:16}}</p> 
    <p>
    <a href="{{discussion.get_absolute_url}}?only=secrets">{{discussion.proposal_count}} secret{{discussion.proposal_count|pluralize}}</a> in {{discussion.comment_count}} posts &nbsp;
    <span class="subtle">
    Posted by <a href="{{created_by_user.get_absolute_url}}">{{created_by_user.first_name}} {{created_by_user.last_name|first}}</a> &nbsp;
    {{discussion.get_time_since_created}}</span>
    </p>
</div>
{% endwith %}
<div class="clear"></div>
