<div class="discussion" id="discussion_{{discussion.pk}}">
{% with discussion.created_by as created_by_user %}
<div>
    {% if show_image %}
        <div class="float-left bottoms right">
            <a href="{{discussion.get_absolute_url}}"><img src="{{created_by_user.profile_image.small}}"/></a>
        </div>
    {% endif %}
    <h2 class="discussion_title"><a href="{{discussion.get_absolute_url}}" class="dohighlight">{{discussion.title|safe}}</a></h2>
    {% if discussion.highlighted_body %}
    <p class="dohighlight">"{{discussion.highlighted_body|safe}}"</p> 
    {% else %}
    <p class="dohighlight">{{discussion.text|safe|truncatewords:50}}</p> 
    {% endif %}
    <p>
    <strong>{{discussion.proposal_count}} secret{{discussion.proposal_count|pluralize}} in {{discussion.comment_count}} posts</strong> &nbsp;
    <span class="subtle">
    Latest {{discussion.get_time_since_updated}} &nbsp; 
    Posted by <a href="{{created_by_user.get_absolute_url}}">{{created_by_user.name}}</a></span>
    </p>
</div>
{% endwith %}
<div class="clear"></div>
</div>