.top_content h2 {
	margin-top: 15px;
	width: 480px;
}

.right_content
	{
		padding-top: 10px;
		min-height: 99px;
		color: #000;
	}

div.right_content p.date_added
	{
		margin-top: 2px;
	}

.right_triangle
	{
		background: white url('../images/right_grey_triangle.png') 0 -92px no-repeat;
	}

.left_triangle
	{
		background: #f2f2f2 url('../images/left_white_triangle.png') 145px -60px no-repeat;
	}

.left_sidebar p.side_agreements
	{
		margin-top: 30px;
	}

.content_line .left_sidebar
	{
		padding-right: 20px;
		padding-left: 0;
	}

.proposal_holder
	{
		border-top: 1px solid #d9d9d9;
		padding-top: 10px;
	}

#top_reply_button, #top_reply_comment_button, #top_reply_propose_button
	{
		margin-top: 15px;
	}

#add_discussion input.pink_button
	{
		width: 100px;
		height: 30px;
		margin-left: 580px;
	}

#basic_proposal_text
	{
		width: 400px;
		float: left;
	}

#whatandwhere
	{
		margin: 0 0 0 15px;
	}

#whatandwhere input
	{
		width: 200px;
	}

#whatandwhere span
	{
		float: left;
		color: black;
		margin: 0 10px;
		padding: 5px 0;
	}

#add_discussion label#what_label, #add_discussion label#where_label
	{
		font-size: 1.6em;
		font-weight: 400;
		margin-left: 20px;
		text-align: left;
	}

#add_discussion label#where_label
	{
		margin-left: 140px;
		margin-bottom: 0;
	}

#top_reply_comment_button
	{
		background: #d9d9d9;
		color: black;
		border-left: 0;
		border-right: 0;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		-moz-border-radius-bottomright: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0;
		-webkit-border-bottom-left-radius: 0;
	}
#find_location
	{
		float: left;
		color: white;
		width: 100px;
		padding-top: 5px;
		height: 23px;
		margin-left: 10px;
	}

#did_you_mean_results
	{
		margin: 0;
		list-style-type: none;
		padding-left: 20px;
	}

#did_you_mean_results a
	{
		display: block;
		padding: 1px 0;
	}

#did_you_mean_results a span
	{
		color: #404040;
	}

#google_map_holder
	{
		margin: 5px 5px;
		border: 1px solid #f2f2f2;
		width: 674px;
	}

.proposal
	{
		padding-top: 0;
	}

div.right_content p
	{
		width: 650px;
	}

.date_added a
	{
		font-size: 1em;
	}

.suggest_tab, .comment_tab
	{
		width: 80px;
		float: right;
		margin-top: -20px;
	}

.question_asked
	{
		display: none;
	}
