.right_content
	{
		padding-top: 20px;
		min-height: 65px;
		color: #000;
	}

.content_line .left_sidebar
	{
		padding-right: 0;
		padding-left: 20px;
	}

#add_discussion
	{
		width: 700px;
		background: #d9d9d9;
		padding: 10px;
		display: none;
		-moz-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-bottomleft: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-right-radius: 10px;
	}
	
	#add_discussion label
		{
			width: 90px;
			padding-top: 8px;
			text-align: right;
		}
	#add_discussion input, #add_discussion textarea
		{
			width: 570px;
			height: 20px;
		}
	#add_discussion input#id_tags
		{
			width: 450px;
			margin-right: 10px;
		}
	#add_discussion input.pink_button
		{
			width: 100px;
			height: 30px;
			margin-left: 10px;
		}
	#add_discussion textarea
		{
			height: 50px;
		}

.page_header .top_content
	{
		height: 100px;
	}

.secret_count
	{
		float: right;
		width: 50px;
		text-align: center;
		margin: 15px 8px;
	}

.date_added a
	{
		font-size: 1.4em;
	}	

a.discussion_title
	{
		line-height: 16px;
	}