#home_header
	{
		background: #000 url('../images/header_content_bg.jpg') 0 0 no-repeat;
		margin: -1px 0;
		width: 940px;
		padding-bottom: 10px;
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius-bottomleft: 10px;
		-webkit-border-bottom-left-radius: 10px;
	}

#home_header img
	{
		float: left;
		padding: 0;
		margin: 27px 30px 0 30px;
	}

#home_header p
	{
		padding: 0 10px;
		line-height: 2em;
		font-size: 1.5em;
		letter-spacing: 1px;
		width: 415px;
		float: left;
		color: white;
	}
#home_header ul
	{
		list-style-type: none;
		padding: 5px 0;
		margin: 3px 0 3px 0;
	}

#home_header li
	{
		float: left;
	}

#home_header a
	{
		display: block;
		height: 20px;
		color: black;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.6em;
		padding: 3px 20px 7px 20px;
		margin: 0 35px;
	
	}

#skyline
	{
		margin: 0;
		padding: 0;
	}

#left_center_column
	{
		width: 720px;
		float: left;
	}

#right_column
	{
		width: 220px;
		background: #595959 url('../images/59greytile.png') 0 0 repeat;5959;
		float: left;
		height: 657px;
		overflow: hidden;
	}

#right_column p
	{
		padding: 0 10px;
	}

.center_content
	{
		background: white;
		width: 540px;
		float: left;
		padding: 10px;
	}

.content_line
	{
		width: 720px;
	}

.top_content
	{
		-moz-border-radius-topright: 0;
		-webkit-border-top-right-radius: 0;
		height: 30px;
	}

#home_counter
	{
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

#home_counter li
	{
		float: left;
		display: block;
		width: 134px;
		padding: 30px 10px;
		text-align: center;
		border-left: 1px solid #595959;
		border-top: 1px solid #939393;
		border-right: 1px solid #939393;
		background: #757575 url('../images/75greytile.png') 0 0 repeat;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: white;
		font-weight: 400;
		-webkit-text-shadow: 5px 5px 5px red;
	}

#home_counter li:first-child
	{
		border-left: 0;
		width: 139px;
	}
#home_counter li
	{
		text-shadow: 1px 1px 1px #666, -1px -1px 1px #333;
		color: #eee;
	}
	
#home_counter span
	{
		display: block;
		font-size: 1.8em;
		margin-bottom: 10px;
		letter-spacing: 2px;
	}

#page_title
	{
		height: 35px;
		padding-top: 5px;
		padding-bottom: 0;
	}

.right_sidebar, .page_header
	{
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
	}

.right_sidebar
	{
		float: left;
		width: 200px;
		background: #595959 url('../images/59greytile.png') 0 0 repeat;5959;
		padding: 17px 10px 8px 10px;
		font-size: 1.4em;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
	}



h1
	{
		margin: 0;
	}

.day_display, .month_year_display
	{
		display: block;
		float: left;
		width: 50px;
	}

.month_year_display
	{
		padding: 20px 0;
	}

.day_display
	{
		font-size: 2em;
		border-right: 1px solid #595959;
		padding-right: 5px;
		margin-left: 30px;
	}

.month_display, .year_display
	{
		text-align: center;
		margin: 0;
		font-size: 1.2em;
		letter-spacing: 2px;
	}

.year_display
	{
		letter-spacing: 0;
	}

.right_content li
	{
		margin-left: 30px;
		margin-bottom: 10px;
	}

	
#three_column
	{
		width: 940px;
		background: #595959 url('../images/59greytile.png') 0 0 repeat;5959 url('../images/59greytile.png') 0 0 repeat;
	}

#big_footer
	{
		border-top: 0;
	}


.twtr-hd
	{
		display: none;
	}

#discussion_line_proposal .proposal
	{
		padding-top: 12px;
	}