/*for all the info pages - eg about, story etc...*/
.page_header #page_title {height:22px; padding:10px 20px 10px 0px;}
.page_header div.right_content {min-height:22px; height:22px; padding:10px 30px 10px 30px;}

ul.info-links {list-style:none; text-align:left; margin:0px; padding:0px;}
ul.info-links li {margin:0px; padding:0px 0px 20px 0px;}
ul.info-links li a {text-transform:none; font-size:1.2em; font-weight: 400; padding:0px; margin:0px;}

div.left_sidebar {padding:20px; width:120px;}

.page_content {padding:0px 20px 200px 20px; width:740px;}
div.page_content p {padding:0px; width:700px;}


#about_page .page_content {padding-bottom:400px; background:white url('../images/illustrations/FlowersLarge4-about.jpg') no-repeat bottom left;}


#story_page .page_content {padding-bottom:180px; background:white url('../images/illustrations/BenchLarge4-story.jpg') no-repeat bottom left;}
#story_page .page_content p.lastparagraph {width:400px;}

#credits_page .page_content {padding-bottom:100px; background:white url('../images/illustrations/BanksideLarge4-credits.jpg') no-repeat bottom left;}

#terms_page .page_content {padding-bottom:400px; background:white url('../images/illustrations/PlugLarge4-tacpp.jpg') no-repeat bottom right;}
#terms_page .page_content p {width:560px;}

#credits_page .page_content p {font-size: 2em; color: #888; line-height: 1.6em; margin: 10px;}
#credits_page span.name {color: black;}
#credits_page span.name a:link, a:visited, a:hover {color: black;}
#credits_page span.pink {font-size: 2em; letter-spacing: 0px; word-spacing: 10px; color: #ed1849;}
#credits_page span.lower_pink {color: #ed1849;}

#credits_page span.wrapper {float: left; display: block; height: 60px; clear: left;}
.bottom {width: 510px; margin-bottom: 50px;}
.near_bottom {width: 470px; margin-bottom: 10px;}
.above_near_bottom {width: 390px;}
.lower_mid_bottom {width: 310px;}
.mid_mid_bottom {width: 240px;}
.upper_mid_bottom {width: 195px; margin-bottom: 10px;}
.lower_top_bottom {width: 120px;}
.top_wrapper {width: 50px; margin-bottom: 30px;}

#team_page .number {color: #888;}
#team_page p {color: black;}
#team_page .page_content {padding: 0;}
#team_page .page_content p { padding: 0 30px; margin: 0 0 10px 0;}
#team_page #image_holder {display: block; background: url('../images/crew_colored.jpg') 0 0 no-repeat; width: 780px; height: 582px;}

#about_page .page_content p {font-size: 1.6em; margin: 5px 0;}
#about_page .page_content {padding-bottom: 450px;}
#about_page .top_content p {font-size: 2em; padding-top: 0px; margin-top: 0;}
#about_page .page_header div.right_content {height: 70px; padding-top: 0;}