.top_content {
	height: auto;
}

.discussion_reply_tabs {
	text-align: right;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-top: -15px;
}
.discussion_reply_tabs .suggest_tab,
.discussion_reply_tabs .comment_tab {
	padding: 6px 10px;
}
.suggest .suggest_tab,
.comment .comment_tab {
	background-color: #7B7979;
}
.suggest .suggest_tab a,
.comment .comment_tab a {
	color: #fff;
	text-decoration: none;
}

.discussion_reply_form_body {
	display: none;
	background-color: #7B7979;
	padding: 8px 10px;
	position: absolute;
	width: 700px;
	margin-right: 220px;
	z-index: 3000;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	
}

.discussion_reply_form.suggest .discussion_reply_form_body,
.discussion_reply_form.comment .discussion_reply_form_body {
	display: block;
}

.discussion_reply_form .suggest_secret {
	display: none;
	float: left;
	width: 48%;
}
.discussion_reply_form.suggest .suggest_secret {
	display: block;
}
.discussion_reply_form.suggest div.comment {
	float: left;
	width: 48%;
	margin-left: 2%;
}
.discussion_reply_form .existing_secrets {
	display: none;
}			

.discussion_reply_form h4 {
	margin: 3px 4px 10px;
	font-weight: 400;
	text-transform: uppercase;
}

.discussion_reply_form label {
	display: block;
}
.discussion_reply_form textarea {
	width: 98%;
	height: 100px;
	font-family: 'Gill sans','Gill Sans MT',Calibri,Trebuchet,sans-serif;
}
.discussion_reply_form.suggest textarea {
	width: 100%;
	height: 250px;
}
.discussion_reply_form .buttons {
	clear: both;
	text-align: center;
	padding: 8px 0;
	margin-left: 310px;
}
.discussion_reply_form .edit_map_button,
.discussion_reply_form .hide_map_button {
	display: none;
}
.discussion_reply_form .hasmap .find_on_map_button {
	display: none;
}
.discussion_reply_form .hasmap .edit_map_button {
	display: block;
}
.discussion_reply_form .hasmap.bigmap .edit_map_button {
	display: none;
}
.discussion_reply_form .hasmap.bigmap .find_on_map_button {
	display: block;
}

.discussion_reply_form .map_search_not_found {
	display: none;
}
.discussion_reply_form .map_search_results_list {
	display: none;
}
.discussion_reply_form .map_search_results_list p {
	margin: 0;
}
.discussion_reply_form .map_search_results_list ol {
	padding-left: 8px;
	margin-bottom: 8px;
}
.discussion_reply_form .map_search_results_list li {
	list-style-position:inside;
	margin:4px 0;
}

.discussion_reply_form .map_canvas {
	width: 100%;
	height: 180px;
	margin-bottom: 5px;
	display: none;
}

.discussion_reply_form .map_canvas_small,
.discussion_reply_form .map_canvas_small_placeholder {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 90px;
	height: 90px;
	display: none;
}
.discussion_reply_form .secrets_list .map_canvas_small_placeholder {
	display: block;
}
.discussion_reply_form .map_canvas_small_placeholder {
	background: black url('../images/3d_white_keyhole.png') 25px 15px no-repeat;
	border: 1px dashed #494949;
}
.map_canvas_small span,
.map_canvas_small a {
	display: none;
}
.discussion_reply_form .hasmap .map_canvas_small {
	display: block;
}
.discussion_reply_form .bigmap .map_canvas {
	display: block;
}
.discussion_reply_form .bigmap .map_canvas_small {
	/*display: b;*/
}

.discussion_reply_form .secrets_list {
	margin: 0;
	padding: 0;
}
.discussion_reply_form .secrets_list li.secret {
	position: relative;
	list-style-type: none;
	margin: 0 0 5px;
	background-color: #000;
	color: #fff;	
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	padding: 10px 10px 0 110px;
}
.discussion_reply_form .secrets_list li.secret.expanded {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	padding: 10px;
	padding-left: 105px;
}
.discussion_reply_form .map {
	margin-left: -100px;
	padding-bottom: 1px;
}
.discussion_reply_form .secrets_list .delete_button {
	position:absolute;
	right:10px;
	top: 5px;
}

.discussion_reply_form .secrets_list .edit {
	display: none;
}
.discussion_reply_form .secrets_list .expanded .edit {
	display: block;
}
.discussion_reply_form .secrets_list .expanded .static {
	display: none;
}

.discussion_reply_form .secrets_list .static .title {
	display: block;
	font-weight: bold;
}

.discussion_reply_form .secrets_list .static .location {
	display: block;
	margin-top: 3px;
}


.discussion_reply_form .suggest_secret label
	{
		display: none;
	}

.suggest_secret .pink_button
	{
		width: 100px;
		padding: 5px 0;
	}

.secret_name, .secret_location
	{
		width: 180px;
		margin-bottom: 8px;
	}

.add_secret a
	{
		color: white;
		font-weight: 400;
	}

.comment label
	{
		text-transform: uppercase;
		color: black;
	}
.add_secret {
	margin-bottom: 0;
	padding-left: 5px!important;
}


.discussion_reply_form .suggest_secret label
	{
		display: none;
	}

.suggest_secret .pink_button
	{
		width: 100px;
		padding: 5px 0;
	}

.secret_name, .secret_location
	{
		width: 180px;
		margin-bottom: 8px;
	}

a.add_secret
	{
		color: white;
		font-weight: 400;
	}

.comment label
	{
		text-transform: uppercase;
		color: black;
	}