.page_header {background: #595959 url('../images/59greytile.png') 0 0 repeat;5959;}
#page_title {background: #595959 url('../images/59greytile.png') 0 0 repeat;5959;}
.right_content {background: #404040;}
.left_sidebar, .content_line {background: #595959 url('../images/59greytile.png') 0 0 repeat;5959;}
.left_triangle { background: transparent url('../images/left_black_triangle.png') 145px 50px no-repeat;}
.left_sidebar .pink_button {margin-left: 80px; width: 50px;}
.right_dark_triangle {background: #404040 url('../images/right_dark_triangle.png') 0 20px no-repeat;}
#comments .right_content {background: white;}
#comments .left_sidebar {background: #f2f2f2;}
#comments_header {background: #f2f2f2;}
#comments_header .right_content {background: white;}
#comments_header .left_sidebar{ background: transparent; padding-top: 0;}
#comments .content_line {background: #f2f2f2;}
#tabs ul.highlight {background: #333;}
ul.highlight li { background: #404040; color: white;}
#tabs ul.highlight a{color: white;}
.top_content
	{
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		width: 740px;
		border-bottom: 0;
	}

#map
	{
		float: right;
		margin: 0;
	}

h1
	{
		margin-top: 20px;
	}

#secret_details a
	{
		margin: 0 5px 0 0;
		border-left: 1px solid #ed1849;
		padding-left: 5px;
	}

#secret_details a:first-child
	{
		border: none;
		padding-left: 0;
	}

#secret_details p.first
	{
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 5px;
	}

#page_title a
	{
		display: block;
		
		font-size: 0.5em;
		letter-spacing: 0;
	}

#proposals p, #proposals h3
	{
		margin: 0;
	}

#proposals p.side_agreements
	{
		margin: 40px 0 10px 0;
	}

.right_content
	{
		padding-bottom: 20px;
		color: white;
	}

label
    {
        color: white !important;
    }

#been_there .pink_button, #photos .pink_button, #comments_header .pink_button
	{
		width: 100px;
		margin-left: 30px;
	}

#photos .right_content
	{
		padding: 10px 30px;
	}

#comments .right_content
	{
		padding-top: 15px;
	}

#comments_header .pink_button
	{
		float: right;
	}

#been_there .right_content
	{
		padding: 10px 0;
		width: 780px;
	}

#been_there a
	{
		margin-left: 20px;
	}

.visitor_holder
	{
		width: 210px;
		background: white;
		-moz-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-bottomleft: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-right-radius: 10px;
		padding: 10px;
		margin: 0 8px;
	}

.visitor_holder p.name
	{
		width: 110px;
	}


#edit_secret .top_content
	{
		padding: 0;
		height: 400px;
		width: 780px;
	}

#edit_secret #map_search_results
	{
		width: 260px;
		float: left;
	}

#edit_secret #map_search_results li
	{
		padding: 3px 0;
	}

#edit_secret #map_canvas
	{
		float: left;
		width: 500px;
	}


#id_description {
    height: 42px;
}

h2.description {
    font-size: 14px;
    font-weight: normal;
}

.suggestion,
.suggestion li {
    padding-left: 0px;
    margin-left: 0px;
}

.help_text {
    color: #999;
}

#google_map {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

#view_map {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

#id_secretcomment #id_text {
    width: 615px;
}

#id_secret input[type=text],
#id_secret textarea {
    width: 370px;
}

#comments_header .right_content {
    height: 10px;
    min-height: 36px;
    width: 760px;
    padding: 8px 10px;
}





