.page_header, #page_title
	{
		background: #595959 url('../images/59greytile.png') 0 0 repeat;5959;
		color: #d9d9d9;
	}

.top_content
	{
		height: 140px;
	}
.right_content
	{
		padding-top: 10px;
	}

.proposal_holder
	{
		margin-bottom: 10px;
	}
#page_title span.highlight
	{
		font-size: 0.8em;
		text-transform: none;
		letter-spacing: 0;
	}
#secret_search input
	{
		height: 20px;
		width: 200px;
		margin: 0 20px;
	}

#secret_search a img
	{
		margin: 0 5px;
	}
	
#secret_search label
	{
		width: 80px;
		margin: 10px 150px 5px 20px;
	}

#secret_search input.pink_button
	{
		width: 50px;
		height: 30px;
		float: left;
	}

#single_column
	{
		background: white;
		width: 900px;
		padding: 20px;
	}

.proposal_holder
	{
		float: left;
	}

.proposal_stats
	{
		float: left;
		width: 300px;
		margin-top: 25px;
		margin-left: 20px;
	}

.proposal_stats h3
	{
		color: #595959;
	}

.proposal_stats h3 span
	{
		font-size: 1.6em;
	}