{% extends 'layout/base.html' %}
{% block pagemedia %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/info-pages.css" />
{% endblock %}

{% block bodytag %}id="about_page"{% endblock %}

{% block content %}
<div class="content_line">
	<div class="menuu">
		<a href="{% url render_template template="about" %}">About</a>
		<a href="{% url render_template template="team" %}">Team</a>
		<a href="{% url render_template template="credits" %}">Credits</a>
		<a href="http://blog.secretlondon.us">Blog</a>
		<a href="{% url render_template template="terms" %}">Terms of use</a>
		<a href="{% url render_template template="privacy" %}">Privacy Policy</a>
		<a href="http://twitter.com/secret_london">Twitter</a>
	</div>
	<div class="page_content top g10q prefix_1 suffix_1">
	 	<p>secretlondon exists to inspire Londoners by sharing the secrets of the city. London is brimming with undiscovered gems and we want to know about it.</p>
			<p>The Secret London Facebook Group was created on 19 January 2010 by <span title="fatty poo">Tiffany Philippou</span>. Within two weeks over 150,000 people had joined to share and discover London's secrets.</p>
			<p>With the goal of building a website to make the mountains of submitted content easier to find and share, a pizza-fuelled <a href="{% url render_template template="credits" %}">community of volunteers</a> gathered over Valentine’s weekend. Supported by <a href="http://www.onefinestay.com" target="_blank">another London start-up</a>, they worked day and night to create secretlondon.us.</p>
			<p>On the site you can browse and post discussions, photos and profiles of London’s secrets and the people who share them to explore London and learn about others’ experiences.</p>
			<p>Ask for recommendations and inspire others. Secrets suggested and suggestions you make that others agree with are added to your profile. What secrets will be discovered? Who will emerge as the unknown gurus of London life?</p>			
			<p class="contact">You can reach us at <a href="mailto:info@secretlondon.us">info@secretlondon.us</a><br />We blog at <a href="http://blog.secretlondon.us" target="_blank">http://blog.secretlondon.us</a> and tweet <a href="http://twitter.com/secret_london" target="_blank">@secret_london</a></p>
	</div>

</div>

{% endblock %}
