<script src="{{MEDIA_URL}}/js/secret.edit.js" type="text/javascript"></script>
<div style="width:350px;float:left">
    <h4 class="hidden">Mention a secret place</h4>
    <div id="selected_result" class="hidden isecret">
        <a href="#" class="float-right reset_selected" style="font-weight:bold;font-size:18px;">X</a>
        <div class="ctext">            
        <h3 id="selected_title"></h3>
        <p id="selected_address"></p>
        </div>
        <div class="clear"></div>
    </div>    		
    <div id="select_result" class="isecret">            
        <strong>Mention a secret place</strong><br/>
        <input type="text" name="title" id="id_title" style="width:95%;font-weight:bold;font-size:16px;line-height:16px;padding: 5px;"/>
        <div id="results_manual" class="hidden">
            <strong>Address</strong><br/>
            <input id="id_location" type="text" name="location" maxlength="250" />
            <input type="button" value="Finished" id="finished_manual"/> or <a href="#" class="unselect_manual">edit name</a>
        </div>
	</div>
	<div id="results_fail" class="tops isecret hidden">
        <h3><a href="#" class="select_manual">Create new secret place</a></h3>
        <p class="subtle">If you haven't found what you're looking for</p>                        
    </div>
	<div id="results_success" class="hidden tops" style="padding:5px 0px;">                
        <div class="">
            <h3 class="subtle">Or, did you mean...</h3>
        </div>
        <div class="tops bottoms">
        <div id="existing_suggestions_success" class="hidden">                        
            <ul id="existing_suggestions" class="suggestion"></ul>
        </div>               
        <div id="google_suggestions_success" class="hidden">
            <ul id="google_suggestions" class="suggestion"></ul>
        </div>
        </div>                
    </div>
    <div id="google_map" style="display:none;width:340px;height:170px;"></div>
</div>
<div class="hidden">    		
    <div id="google_suggestions_fail" class="hidden">&nbsp;</div>
    <div id="existing_suggestions_fail" class="hidden">&nbsp;</div>
    <input id="id_secret_id" type="text" name="secrets" maxlength="250" />            
    <input id="id_google_reff" type="text" name="google_reff" maxlength="250" /><br/>
    <input type="text" name="latitude" id="id_latitude" /><br/>
    <input type="text" name="longitude" id="id_longitude" /><br/>
</div>