{% extends 'layout/base.html' %}
{% block pagemedia %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/info-pages.css" />

<!-- inline styles just for this page -->
<style type="text/css">
/* these are the only two values you should need to adjust when updating the text to be floated around the background image */
.filler1 { height: 520px; }
.filler { margin-left: 20px; }
/* -end- */
/* we use the default widths for .filler[1-15] as specified in info-pages.css to create a 45 degree triangle */

</style>
{% endblock %}

	{% block bodytag %}id="credits_page"{% endblock %}

{% block content %}

<div class="page_header">
	<div id="page_title" class="left_sidebar">
		Credits
	</div>
	<div class="right_content top_content">
		&nbsp;
	</div>
	<div class="clear_left"></div>
</div><!-- END OF THE PAGE HEADER-->	

<div class="content_line">
	<div class="left_sidebar">
		<ul class="info-links">
			<li><a href="{% url render_template template="about" %}">About</a></li>
			<li><a href="{% url render_template template="team" %}">Team</a></li>
			<li><a href="{% url render_template template="credits" %}">Credits</a></li>
			<li><a href="http://blog.secretlondon.us">Blog</a></li>
			<li><a href="{% url render_template template="terms" %}">Terms of use</a></li>
			<li><a href="{% url render_template template="privacy" %}">Privacy Policy</a></li>
			<li><a href="http://twitter.com/secret_london">Twitter</a></li>
		</ul>
	</div>
	<div class="right_content page_content">

			<p>

<!-- left-floated "filler" boxes to clear space for bg image -->	
<span class="filler filler1"></span>
<span class="filler filler2"></span>
<span class="filler filler3"></span>
<span class="filler filler4"></span>
<span class="filler filler5"></span>
<span class="filler filler6"></span>
<span class="filler filler7"></span>
<span class="filler filler8"></span>
<span class="filler filler9"></span>
<span class="filler filler10"></span>
<span class="filler filler11"></span>
<span class="filler filler12"></span>
<span class="filler filler13"></span>
<span class="filler filler14"></span>
<span class="filler filler15"></span>
				<span class="pink">secretcities.com is the product of uncountable hours of love from a community that formed around a common goal.</span>
					&nbsp;
					<span class="name">Tiffany Philippou,</span> this is all her fault. <span class="name">Tim Davey,</span> nuts and bolts. <span class="name"><a href="http://gregmarsh.co.uk" target="_blank">Greg Marsh,</a></span> cursing and swearing. 
				</span>
					<span class="name">Demetrios Zoppos,</span> food and atmosphere. <span class="name"><a href="http://insomanic.me.uk" target="_blank">Andy Young,</a></span> <span class="name">Matthew Pontefract, Adam Reid</span> made it work. <span class="name">Tom Harvey, <a href="http://ruthjohn.co.uk" target="_blank">Ruth John,</a> <a href="http://joelee.me.uk" target="_blank">Joe Lee,</a> <a href="http://www.julie.co.za" target="_blank">Julie Vaccalluzzo,</a> Luke Leighton</span> made it sing. <span class="name"><a href="http://www.olliespero.co.uk">Ollie Spero</a></span> made it unique. <span class="name"><a href="http://tubbyteals.com" target="_blank">Jase Cooper,</a> <a href="http://ligdesign.co.uk" target="_blank"> Matt Sellers,</a> <a href="http://www.actuallydigital.co.uk" target="_blank">Adam Farley,</a> Iris Thorsteinsdottir</span> made it gorgeous.
				</span>
					 <span class="name">Robert Jon Haughton, Georgia Graham, Josh Burrows, Chris Clarke, Charlotte Bayley, Carly Becker, Alasdair Bell, Anna <nobr>Codrea&#150;Rado</nobr>, Macrui Dostourian, Diogo Geraldes, Katherine Haddon, Roberta Klimt, Jamie McConkey, Thishani Nadesan, Anna Steadman, Julia Steinhardt, Arun Rao, Zoe Seagar</span> made it useful. <span class="name">Susan Newnham</span> and <span class="name">Steve Tandy</span> of <span class="name"><a href="http://www.finsburybusinesscentre.co.uk/" target="_blank">Finsbury Business Centre,</a> Jill Lloyd</span> and <span class="name"><a href="http://www.lbi.co.uk/" target="_blank">LBi,</a> Julie Blane</span> and <span class="name"><a href="http://www.sparkpr.com/" target="_blank">SparkPR,</a> Isabelle Ratinaud, Paul Birch, Mike Butcher, Katherine Haddon, Joanne Theodoulou, Jenny Simmons, Rob Taylor, Gregory & Nadia Zoppos</span> made it possible. 
					<span class="lower_pink">Along with the thousands of contributors in London and across the world who shared their secrets and inspired us.</span></p>
	</div>
	<div class="clear_left"></div>
</div>

{% endblock %}
