{% extends 'layout/generic.html' %}

{% block left %}
Comment
{% endblock %}

{% block right %}
<p>There are some areas of the site which you can only access if you log in.</p>
<p>
    {% include 'accounts/fb_button.html' %}
</p>
<p>Please connect via facebook and we will automatically log you in here and create you an account. Simple.</p>
<br />
<p>Over the coming weeks we will be adding more methods to login such as twitter, google, yahoo, openauth, openid. But for now its just facebook. Sorry!</p>
<br />
<br />
{% endblock %}
