<script type="text/javascript">
	// <![CDATA[
	var addthis_config = {
		username: 'secretcities',
	};
	var addthis_share = {
		url: 'http://secretcities.com{{request.path}}',
	};
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=secretcities"></script>
Share on <a class="addthis_button_facebook"><img src="{{MEDIA_URL}}/images/icons/facebook_16.png"/></a>&nbsp;<a class="addthis_button_twitter"><img src="{{MEDIA_URL}}/images/icons/twitter_16.png"/></a>