{% if IS_AJAX %}
[
    {% for d in results.documents %}
        {% call d 'render' form.render_template %}
        {% if not forloop.last %},{% endif %} 
    {% endfor %}
]
{% else %}

    {% if results %}
        <h3>Results {{results.count}} {{results.page}}/{{results.page_count}}</h3>
        {% for d in results.documents %}
            {% call d 'render' form.render_template %}
        {% endfor %}
        {% include 'layout/pages.html' %}
    {% endif %}

{% endif %}


<!-- LOCATION FORMAT -->