{% extends 'layout/base.html' %}
{# inpage css #}

{% block pagemedia %}
<style type="text/css">
    #stats td, #stats div{ font-size: 20px; line-height: 26px; text-align: center; }
</style>
{% endblock %}

{# welcome notice #}
{% block content %}
<div id="stats" class="g12 top bottom">
    <table width="100%">
        <tr>
            <td class="pad" width="25%">{{user_count}}<br/>users</td>            
            <td class="pad" width="25%">{{secret_count}}<br/>secrets</td>
            <td class="pad" width="25%">{{discussion_count}}<br/>discussions</td>
            <td class="pad" width="25%">{{post_count}}<br/>posts</td>
            <td class="pad" width="25%">{{photo_count}}<br/>photos</td>
        </tr>        
    </table>
    <div class="pad center">
        {{user_with_email_count}} users with emails
    </div>
</div>
{% endblock content %}