{% extends 'layout/base.html' %}
{# inpage css #}

{# welcome notice #}
{% block content %}
<div class="g12 blk rtop rbot">
    <div class="chunk center">
        <h3 style="color:#fff;padding:0px;">Secret London exists to inspire Londoners. <a href="{% url search city=CITY %}?type=discussions">Join the discussion</a> to share your experiences of the city.</h3>
    </div>
</div>
<div class="g7">
    <div class="chunk">
        <div class="float-right">
            <a href="/discussion/new/" class="button small">Start a new discussion</a>
        </div>
        <h2 class="caps subtle">Latest Discussions</h2>
        {% for discussion in discussions %}
            {% with "1" as show_image %}
            {% include "discussion/render/singular.html" %}
            {% endwith %}
        {% endfor %}
        <div class="tops">
        <a href="{% url search city=CITY %}?type=discussions&usort=latest" class="button small">Browse all discussions</a>
        </div>
    </div>
</div>
<div class="g5">
    <div class="chunk">
        <div class="float-right">
            <a href="/secret/new/?t=photo" class="button small">Upload a photo</a>
        </div>
        <h2 class="caps subtle">Latest Photos</h2>
        <div class="top">
        {% for photo in photos %}
            {% with photo.thumb as thumb %}
            {% if thumb %}
                <div class="float-left" style="padding:1px;">
                <div style="position:relative">
                <a href="{{photo.secret.get_absolute_url}}" class="nohover"><img src="{{thumb.url}}" alt="{{photo.caption}}" />
                <div class='imgtag'>
                    by {{photo.created_by.name}}            
                </div>
                </a>
                </div>
                </div>
            {% endif %}
            {% endwith %}
        {% endfor %}
            <div class="clear"></div>
        </div>
        <div class="tops">
        <a href="{% url search city=CITY %}?type=photos" class="button small">Browse all photos</a>
        </div>
    </div>    
    <div class="chunk" style="padding-top:45px;">
        <div class="float-right">
            <a href="/secret/new/" class="button small">Share a secret</a>
        </div>
        <h2 class="caps subtle">Latest Secrets</h2>
        {% for secret in secrets %}
            {% include "secret/render/singular.html" %}
        {% endfor %}
        <div class="tops">
        <a href="{% url search city=CITY %}?type=secrets&usort=latest" class="button small">Browse all secrets</a>
        </div>
    </div>    
</div>
<div class="g12">
    <div class="chunk">
        <h2 class="caps subtle">Latest Visitors</h2>
        <div class="center">
        {% for profile in profiles %}
            {% include "accounts/render/singular.html" %}
        {% endfor %}
        <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock %}