{% extends 'layout/base.html' %}
{# inpage css #}
{% block pagemedia %}{% endblock %}

{# welcome notice #}
{% block headnotice %}
<div id="intro" class="rtop">
    <img src="{{MEDIA_URL}}/images/title_text.png" />
    <p style="line-height:1.5em">secretlondon exists to inspire Londoners. Join the discussion to share your experiences of the city. London is brimming with undiscovered gems and we want to know about them.</p>
    <br class="clear_left" />
    <ul>
        <li><a href="{% url render_template template='about' %}">Read the story</a></li>
        <li><a href="{% url search_discussions %}">Join the Discussion</a></li>
        <li><a href="{% url random_secret %}">Get Inspired</a></li>
        <br class="clear_left" />
    </ul>
    <div class="clear_left"></div>
</div>
{% endblock %}


{% block content %}
<div class="g7">
    <div class="menu">
        <h1>Hot Discussions</h1>
    </div>
    <div class="chunk">
    {% for discussion in discussions %}
        <div class="discussion" id="discussion_{{discussion.pk}}">
            {% include "discussion/render/singular.html" %}
        </div>
    {% endfor %}
    </div>
    <div class="menu">
        <h1><a href="{% url search_discussions %}">Browse more discussions</a></h1>
    </div>
</div>            
{# Users #}
<div class="g5">
    <div class="menu">
        <h1>Photos</h1>
    </div>
    <div class="chunk">
    {% for photo in photos %}
        {{photo}}
    {% endfor %}
    </div>
</div>
{% endblock %}
