{% extends 'layout/base.html' %}
{# inpage css #}
{% block pagemedia %}<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/home.css" />{% endblock %}

{# welcome notice #}
{% block headnotice %}
<img src="{{MEDIA_URL}}/images/skyline.png" id="skyline" /><div id="home_header">
    <img src="{{MEDIA_URL}}/images/title_text.png" />
    <p>After an insane week of work, and after less than a month since the Facebook group was created, secretlondon has its own site.</p>
    <br class="clear_left" />
    <ul>
        <li><a href="{% url render_template template='about' %}">Read the story</a></li>
        <li><a href="{% url search_discussions %}">Join the Discussion</a></li>
        <li><a href="{% url random_secret %}">Get Inspired</a></li>
        <br class="clear_left" />
    </ul>
    <div class="clear_left"></div>
</div>
{% endblock %}

{% block content %}
<div class="page_header">
    <p id="page_title" class="left_sidebar" style="padding-top:20px;height:10px">
        Featured
    </p>
    <div class="center_content top_content">
        <h2>The latest discussions, join the conversation and add your secrets.</h2>
    </div>
    <p class="right_sidebar">
        Recent Activity
    </p>
    <div class="clear_left"></div>
</div>
<div id="three_column">
    <div id="left_center_column">    
        <div id="recent_proposals" class="content_line right_triangle">
            <div class="content_line">
            	{% for discussion in discussions %}
            	    <p class="left_sidebar">
                        {% with discussion.created_by as u %}<a href="{{u.get_absolute_url}}">{{u.name}}</a>{% endwith %}<br />
                        {{ discussion.comment_count }} posts<br />
                        {{discussion.proposal_count}} secrets
                    </p>
            	    <div class="right_content right_triangle" style="width:501px;padding-top:18px">
            	    	<p class="date_added" style="width:100px">created<br />{{discussion.created_at|date:"j M Y G:i"}}</p>
            	    	<a class="discussion_title" style="line-height:1.2em" href="{{discussion.get_absolute_url}}">{{discussion.title}}</a>
            	    	<p class="discussion_stats" style="width:400px" >{{discussion.text|truncatewords:"10"}}...</p>
            	    	<p class="discussion_stats"> </p>
            	    </div>
            	    <div class="clear_left"></div>
            	{% endfor %}
            </div><!-- END OF THE FIRST DISCUSSION LINE-->
            <div class="clear_both"></div>
        </div>
        
        <div class="content_line">
            {% with featured as proposal %}
                {% include 'comment/proposal.html' %}
            {% endwith %}
        </div>
        
        <div id="recent_secrets" class="content_line">
                    <p class="left_sidebar">
                        Recent Secrets
                    </p>

                    <div class="center_content">
                        {% for secret in secrets %}
                        <a href="{{secret.get_absolute_url}}" class="share_holder">
                            {% if secret.latitude and secret.longitude %}
                            <img src="http://maps.google.com/maps/api/staticmap?size=150x150&markers={{secret.latitude}},{{secret.longitude}}&sensor=false&zoom=13">
                            {% else %}
                            <span class="secret_missing_image">Photos to come</span>
                            {% endif %}
                            <h4>{{secret.title}}</h4>
                            <p>{{secret.location}}</p>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="clear_both"></div>
                </div>
        
        <div id="recent_visitors" class="content_line">
            <p class="left_sidebar">
                Recent Visitors
            </p>
            
            <div class="center_content">
                {% for u in users %}
                <div class="visitor_holder">
                    <img {% if u.profile_image.small %}src="{{u.profile_image.small}}"{% endif %} />
                    <p class="name"><a href="{{u.get_absolute_url}}">{{u.first_name}} {{u.last_name}}</a></p>
                    <p class="stats"><span>{{u.secret_count|default:'No '}}</span>Secrets</p>
                    <p class="stats"><span>{{u.agreement_count|default:'No '}}</span>Agrees</p>
                </div>
                {% endfor %}
            </div>
            <div class="clear_left"></div>
        </div>
    </div>
    <div id="right_column" style="height:985px">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
         version: 2,
         type: 'search',
         search: 'secret_london OR #secretlondon',
         interval: 6000,
         title: 'secretlondon',
         subject: '',
         width: 219,
         height: 1270,
         theme: {
            shell: {
            background: '#404040',
            color: '#ffffff'
           },
           tweets: {
             background: '#ffffff',
             color: '#444444',
             links: '#eb1849'
           }
         },
         features: {
           scrollbar: false,
          loop: true,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: true,
          behavior: 'default'
         }
        }).render().start();
        </script>
    </div>      
    <div class="clear_left"></div>
</div>

<ul id="home_counter">
    <li><span>{{count.users}}</span>Profiles</li>
    <li><span>{{count.discussions}}</span>Discussions</li>
    <li><span>{{count.secrets}}</span>Secrets</li>
    <li><span>{{count.posts}}</span>Posts</li>
    <li class="last"><span>{{count.days}}</span>Days Old</li>
    <li><span>Coming</span>Photos</li>
    <br class="clear_left" />
</ul>
{% endblock %}
