{% extends 'layout/base.html' %}

{% block pagemedia %}
<style type="text/css" media="screen">
    body {
        color: white;
    }
    #container {
        width: 450px;
    }
</style>
{% endblock %}

{% block everything %}
    <img src="{{MEDIA_URL}}/images/logo-secretcities-white.png"></img>
    <p><b>secretcities</b> exists to inspire the world. Join the discussion to share your experiences of the. Our cities are brimming with undiscovered gems and we want to know about
    them.</p>
    <p><a href="{% url render_template template='about' %}">Learn more about <b>secretcities</b></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://blog.secretcities.com">Read the blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://twitter.com/secret_london">Follow us on Twitter</a></p>
    <br /><br />
    <h1>Live now</h1>
    <p><h2><a href="/london/">London</a></h2></p>
    <br /><br />
    <h1>Coming soon</h1>
     
    <p>Athens - <a href="http://www.facebook.com/group.php?gid=268103777167&ref=search&sid=193109668.1063559209..1">Facebook Group</a>
    <p>Belfast - <a href="http://www.facebook.com/group.php?gid=270632378411&ref=search&sid=193109668.3538691028..1">Facebook Group</a>
    <p>Boston - <a href="http://Facebook.com/SecretBoston">Facebook Group</a>
    <p>Bratislava - <a href="http://www.facebook.com/group.php?gid=314244433887&ref=search&sid=193109668.2987063588..1">Facebook Group</a>
    <p>Brighton - <a href="http://www.facebook.com/group.php?gid=283416034276&ref=ts">Facebook Group</a>
    <p>Brisbane - <a href="http://www.facebook.com/group.php?gid=297310581035">Facebook Group</a>
    <p>Canberra - <a href="http://www.facebook.com/group.php?gid=296466252378">Facebook Group</a>
    <p>Cape Town - <a href="http://www.facebook.com/group.php?gid=335120748734&ref=ts">Facebook Group</a>
    <p>Christchurch - <a href="http://www.facebook.com/group.php?gid=268767247927&ref=ts#!/group.php?gid=290488139542">Facebook Group</a>
    <p>Delhi - <a href="http://www.facebook.com/group.php?gid=335169925829&ref=search&sid=193109668.3528095819..1">Facebook Group</a>
    <p>Dubai - <a href="http://www.facebook.com/group.php?gid=298681755269&ref=search&sid=193109668.1494202775..1">Facebook Group</a>
    <p>Dublin - <a href="http://www.facebook.com/group.php?gid=293747433391&ref=search&sid=193109668.518142431..1">Facebook Group</a>
    <p>Edinburgh - <a href="http://www.facebook.com/group.php?gid=293747433391&ref=search&sid=193109668.518142431..1">Facebook Group</a>
    <p>Exeter - <a href="http://www.facebook.com/group.php?gid=279802854325&ref=search&sid=505609771.444135417..1">Facebook Group</a>
    <p>Funchal - <a href="http://www.facebook.com/group.php?gid=309314404092">Facebook Group</a>
    <p>Johannesburg - <a href="http://www.facebook.com/group.php?gid=293730701908&ref=ts">Facebook Group</a>
    <p>Madeira - <a href="http://www.facebook.com/group.php?gid=307578738906">Facebook Group</a>
    <p>Milan - <a href="http://www.facebook.com/group.php?gid=335046308622&ref=search&sid=193109668.3660221288..1">Facebook Group</a>
    <p>Minneapolis - <a href="http://www.facebook.com/group.php?gid=315889552369&ref=ts">Facebook Group</a>
    <p>New York - <a href="http://www.facebook.com/group.php?gid=302058997648&ref=ts">Facebook Group</a>
    <p>New Zealand - <a href="http://www.facebook.com/group.php?gid=268767247927&ref=ts">Facebook Group</a>
    <p>Norwich - <a href="http://www.facebook.com/group.php?gid=328150622552&ref=ts">Facebook Group</a>
    <p>Paris - <a href="http://www.facebook.com/group.php?gid=286073152381&ref=ts">Facebook Group</a>
    <p>Singapore - <a href="http://www.facebook.com/group.php?gid=296428344318&ref=ts">Facebook Group</a>
    <p>Sydney - <a href="http://www.facebook.com/group.php?gid=301053545907">Facebook Group</a>&nbsp;|&nbsp;<a href="http://www.facebook.com/group.php?gid=291983053247">Another
    Facebook Group</a>
    <p>Tokyo - <a href="http://www.facebook.com/group.php?gid=307926804567">Facebook Group</a>
    <p>Vienna - <a href="http://www.facebook.com/group.php?gid=308748891510&ref=search&sid=193109668.3024193357..1">Facebook Group</a>
    <p>Wellington - <a href="http://www.facebook.com/group.php?gid=268767247927&ref=ts#!/group.php?gid=301875739520">Facebook Group</a>
     
    <h2>Everywhere else...</h2>
    <p><b>Managing a Facebook Group and not listed? <a href="mailto:tiffany.secretlondon@gmail.com">Get in touch!</a></b></p>
{% endblock %}