<script type="text/javascript"> 
    function reload_page(){window.location='{{request.path}}';}
    FB.ensureInit(function() { 
        var media = [{'type':'image','src':'http://media.secretcities.com/images/icon.png','href':'http://secretcities.com{{secret.get_absolute_url}}'}];
        var attachment = {
        'name':"{{secret.title}}",
        'href':"http://secretcities.com{{secret.get_absolute_url}}",
        'caption':"{*actor*} told London a secret.",
        'description':"{{secret.description}}", 
        'media': media};
        var action_links = [{'text':'See the secret', 'href':'http://secretcities.com{{secret.get_absolute_url}}'}];        
        FB.Connect.showPermissionDialog("publish_stream", function(perms) {
            if (!perms) {
                FB.Connect.streamPublish('', attachment, action_links, null, null, reload_page, false );    
            } else {
                FB.Connect.streamPublish('', attachment, action_links, null, null, reload_page, true );    
            }
        });        
    });
</script>