{# TEMPLATE: SECRET SEARCH LIST #}

<div id="proposals" class="content_line">
	
	<div class="left_sidebar left_triangle">
		<p class="side_agreements"><span>{{secret.favourite_count}}</span> Been There</p>
	</div>
	<div class="right_content">
		<div class="proposal_holder">
			<div class="proposal_content">
				<p class="secret_missing_image">&#43; Add a photo</p>
				<span class="secret_details">
					<h3>{{ secret.title }}</h3>
					{% if secret.location %}<p>{{ secret.location }}</p>{% endif %}
				<a class="pink_button" href="{{ secret.get_absolute_url }}">View Details</a>
				<div class="clear_left"></div>
			</span>
			</div>
		</div>
		<div class="proposal_stats">
		{% for p in secret.proposals %}		
		    {% with p.agreement_count as count %}
		        {% if count %}
			        <h3><span>{{count}}</span> agree <a href="{{p.get_absolute_url}}">{{p.discussion.title}}</a></h3>
			    {% endif %}
			{% endwith %}
		{% endfor %}
		</div>
		<br class="clear_left" />
	</div>
	
	
	<br class="clear_left" />
</div>