<div class="share_holder">
    {% with secret.primary_photo as pi %}
    {% with secret.photos as photos %}
	<a href="{{pi.resized.url}}" class="-lightbox" title="{{secret.title}}"><img src="{{pi.thumb.url}}" /></a>
	<div style="display:none">
	    {% for p in photos %}
	        {% ifnotequal p pi %}
	            <a href="{{p.resized.url}}" class="-lightbox" title="{{secret.title}}"></a>
	        {% endifnotequal %}
	    {% endfor %}
	</div>
	<h4><a href="{{secret.get_absolute_url}}">{{secret.title}}</a></h4>
	{#<p>{{secret.location}}</p>#}
	<p><b>{{photos|length}}</b> photos <a href="{{pi.resized.url}}" class="-lightbox" title="{{secret.title}}">click</a> to see</p>
	{% endwith %}
	{% endwith %}
</div>