{% with proposal.discussion_comment as comment %}
{% with comment.discussion as discussion %}
{% with comment.created_by as created_by_user %}
<h3 class="discussion_title"><a href="{{discussion.get_absolute_url}}">{{discussion.title}}</a></h3>
<div class="tops">
    <div class="float-left rights bottoms">
        <a href="{{created_by_user.get_absolute_url}}"><img src="{{created_by_user.profile_image.small}}" alt="{{created_by_user.name}}"/></a>
    </div>
    <a href="{{created_by_user.get_absolute_url}}" class="bold">{{created_by_user.name}}</a> &nbsp;{{comment.text|truncatewords:50|urlizetrunc:35}}. <span class="subtle">{{comment.get_time_since_created}}</span>
    <div class="tops">
    <a href="{{discussion.get_absolute_url}}">View all {{discussion.proposal_count}} secret{{discussion.proposal_count|pluralize}} in this discussion</a>
    </div>
    <div class="clear"></div>
</div>
{% endwith %}
{% endwith %}
{% endwith %}
<div class="clear"></div>
