<div class="secret" id="secret_{{secret.pk}}">
    <div class="float-left" style="width:300px">
        <h2><a href="{{secret.get_absolute_url}}">{{secret.title}}</a></h2>
    	<p>{{secret.location}}</p> 
	</div>
	<div class="float-right" style="padding-left:10px; ">
    {% with secret.primary_photo as pi %}
	    {% if pi %}
	        <a href="{{pi.resized.url}}" class="-lightbox"><img src="{{pi.thumb.url}}" width="110px" /><br />view photos</a>
	    {% else %}
		    <img src="{{MEDIA_URL}}/images/3d_white_keyhole.png" />
		{% endif %}
    {% endwith %}
    </div>
	<div class="clear"></div>
</div>