<div class="secret" id="secret_{{secret.pk}}">
    {% if not hide_photo %}
	<div class="float-left" style="padding-right:15px; padding-bottom:10px; ">
    {% with secret.primary_photo as pi %}
	    {% if pi %}
	        <a href="{{pi.resized.url}}" class="-lightbox"><img src="{{pi.thumb.url}}" width="110px" /><br />view photos</a>
	    {% else %}
		    <img src="{{MEDIA_URL}}/images/3d_white_keyhole.png" />
		{% endif %}
    {% endwith %}
    </div>
    <h2><a href="{{secret.get_absolute_url}}" class="dohighlight">{{secret.title}}</a></h2>
    <p class="dohighlight">{{secret.location}}</p> 	
    {% endif %}
	<div class="clear"></div>
</div>