{% extends 'layout/base.html' %}

{% block content %}

{# facebook connect #}
{% if not user.is_authenticated %}
    {% load facebook_tags %}
    {% facebook_button %}
    {% facebook_js %}
{% endif %}

{# random crap #}
<h1>Welcome to Secret London!</h1>

<h3>Recent Discussions</h3>
<ul>
    {% for d in discussions|slice:":15" %}
        <li><a href="{{d.get_absolute_url}}">{{d.title}}</a></li>
    {% endfor %}
</ul>

<h3>Recent Secrets</h3>
<ul>
    {% for s in secrets|slice:":15" %}
        <li><a href="{{s.get_absolute_url}}">{{s.title}}</a></li>
    {% endfor %}
</ul>

{% endblock %}
