<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{# setup to use fbml #}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    {% include 'layout/head.html' %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/index.css" />
    {% endblock %}
    {% block js %}
        <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
        <script type="text/javascript"> function facebook_onlogin(){ window.location = "{% url socialauth_facebook_login_done %}"}</script>
        
        <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
	<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{GOOGLE_MAPS_API}}" type="text/javascript"></script> 
        <script type="text/javascript" src="{{MEDIA_URL}}/js/index.js"></script>
    {% endblock %}
    {% block pagemedia %}{% endblock %}

</head>
<body {% block bodytag %}{% endblock %}>

<div id="feedback_tab">
	
</div>

    <div id="container">
        {% include 'layout/header.html' %}
        {% block headnotice %}{% endblock %}
        {% include 'layout/tabs.html' %}

        {% block content %}{% endblock %}
        {% include 'layout/footer.html' %}
    </div><!-- end of div id=container -->
</body>
</html>
