<div id="footer" class="rtop rbot">
    <div class="g4">
        <div class="chunk">
        
        <strong>secretlondon</strong> is the product of uncountable hours of love from a community that formed around a common goal.<br /><a href="{% url render_template template='credits' %}">View the full credits</a><br/>
        <span>&copy; 2010 Lifealike Limited</span>
        </div>
    </div>
    <div class="g2">
        <div class="chunk">
            <p><a href="{% url render_template template='about' %}">About</a></p>
	        <p><a href="{% url render_template template='team' %}">Team</a></p>
            <p><a href="{% url render_template template='credits' %}">Credits</a></p>
	        <p><a href="http://blog.secretlondon.us">Blog</a></p>
    	</div>
    </div>
    <div class="g2">
        <div class="chunk">
            <p><a href="{% url render_template template='terms' %}">Terms of Use</a></p>
        	<p><a href="{% url render_template template='privacy' %}">Privacy Policy</a></p>
        	<p><a href="http://twitter.com/secret_london">Twitter</a></p>
        	<p>supported by <a href="http://onefinestay.com">onefinestay</a></p>
    	</div>
    </div>
    <div class="g4">
        <div class="chunk">
        <strong>Blog</strong> <br/>
		<a href="http://wp.me/pNxHB-4J">We Are Live!</a><br/>
		<a href="http://wp.me/pNxHB-4C">How to build a website in 48 hours for £3,000</a><br/>
		<a href="http://blog.secretlondon.us/2010/02/16/the-last-mile/">The Last Mile</a><br/>
		<a href="http://blog.secretlondon.us/2010/02/14/its-all-happening/">It's All Happening'</a><br/>
		<a href="http://blog.secretlondon.us/2010/02/13/we-have-a-new-home-secretlondon-us/">We Have a New Web Address</a><br/>
		</div>
    </div>
    <div class="clear"></div>
</div>