	<div class="clear_both"></div>		
</div>

<!-- BEGINNING OF THE SHARED FOOTER -->

		<div id="big_footer">
<!--			<p class="left_sidebar">
				Other Active Discussions
			</p>
			<ul>
				<li><a href="#">A good soul, funk or Ska night in East London?</a></li>
				<li><a href="#">Secret Warehouse Venues</a></li>
				<li><a href="#">What do you think of the new secret london</a></li>
				<li><a href="#">Best pub in SOHO?</a></li>
				<li><a href="#">Best pub in SOHO?</a></li>
			</ul>
-->
			<div class="clear_left"></div>
		</div>
		
		<div id="footer">
			<p>&copy; 2010 secretlondon</p>
			<p>About</p>
			<p>Blog</p>
			<p>Terms of Use</p>
			<p>Privacy Policy</p>
			<p class="design_credit">Designed by ligdesign.co.uk</p>
			<div class="clear_left"></div>
		</div>


