<div id="big_footer">
	<p class="left_sidebar">
		Blog
	</p>
	<ul class="third">
		<li><a href="#">Welcome to the new site</a></li>
		<li><a href="#">Secret Warehouse Venues</a></li>
		<li><a href="#">What do you think of the new secret london</a></li>
		<li><a href="#">Best pub in SOHO?</a></li>
		<li><a href="#">Best pub in SOHO?</a></li>
	</ul>
	<p id="credits"><a href="#">Credits</a><span> This site could not have happened without the help of</span> John Smith, Sarah Jones, John Smith, Sarah Jones, John Smith, Sarah Jones, John Smith, Sarah Jones, John Smith, Sarah Jones and John Smith.</p>
	<div class="clear_left"></div>
</div>
<div id="footer">
	<p>&copy; 2010 secretlondon</p>
	<p><a href="{% url render_template template='about' %}">About</a></p>
	<p><a href="{% url render_template template='credits' %}">Credits</a></p>
	<p><a href="http://blog.secretlondon.us">Blog</a></p>
	<p><a href="{% url render_template template='terms' %}">Terms of Use</a></p>
	<p><a href="{% url render_template template='privacy' %}">Privacy Policy</a></p>
	<p><a href="http://twitter.com/secret_london">Twitter</a></p>
	<p><a href="story">Story</a></p>
	<div class="clear_left"></div>
</div>