{# meta #}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

{# title fav-icon #}
<title>Secret London</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

{# styles #}

{# scripts #}
{% if user.is_anonymous %}
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript"> function facebook_onlogin(){ window.location = "{% url socialauth_facebook_login_done %}"}</script>
{% endif %}