<div id="headliner" class="rbot">
    <strong>Today's Deal</strong> &nbsp; <a href="" style="color:#ed1849;">Free pints at RCPub</a>
</div>

<div id="header">
    <div class="g3 logo">
        <a href="{% url home city=CITY %}"><img src="{{MEDIA_URL}}/images/logo.png" width="180"/></a>            
    </div>
    <div class="g3 links">
        <a href="{% url search_discussions %}">Discussions</a> 
        <a href="{% url search_secrets %}?template=photo">Secrets</a>
    </div>
    <div class="g3 account" {% if user.is_anonymous %}style="padding-top:4px;"{% endif %}>
        {% if user.is_anonymous %}
            {% include 'accounts/fb_button.html' %}
        {% else %}
            <a href="{% url edit_profile %}">Johnny</a>
            <a href="{% url logout %}">Log out</a>
        {% endif %}
    </div>
    <div class="g3 search">
        <form action="/discussions/" method="GET"  accept-charset="utf-8" id="id_">
            <input type="text" value="Search" name="title" id="query"/>
            <input type="hidden" name="sort" id="id_sort" value="updated desc"/>
        </form>       
    </div>
    <div class="clear"></div>
</div> 